[2016-10-07 18:26] sichvoge commented on #150
There is a PR for RAML 1.0 and the author is looking for feedback on the implementation. So please go ahead and test, and let him know if you run into problems.

[2016-10-09 12:57] petrochenko-pavel-a commented on #150
Hi guys, you can checkout alpha version from my fork of raml-for-jaxrs https://github.com/petrochenko-pavel-a/raml-for-jax-rs/tree/raml1.0.

Any feedback , issues, feature suggestions are very appreciated.

Regards,
Pavel

[2016-10-10 15:34] PeteTh commented on #141
I know this is old ticket, but I wondered if anyone could assist, I can't get the raml-jaxrs-maven-plugin to generate Java 8 java.time.LocalDate despite trying to follow the above guide.

My .json schema has 2 date properties one with date-time and one with date, both generate Jackson classes with java.util.Date.

[code]

[2016-10-12 07:58] PeteTh opened #206 "Can't get JSR 310 LocalDate to work in raml2jax-rs"
I see that https://github.com/mulesoft/raml-for-jax-rs/issues/141 added support for RAML to JSR310 LocalDate and LocalDateTime.

But despite this I can't get the raml-jaxrs-maven-plugin to generate Java 8 java.time.LocalDate despite trying to follow what was discussed on the related fix,

My .json schema has 2 date properties

- one with date-time

- one with date,
but both generate Jackson classe

[2016-10-12 08:04] dmiorandi commented on #206
First of all you have to use 1.3.5-SNAPSHOT

[2016-10-12 08:33] #177 closed

[2016-10-12 09:16] PeteTh commented on #206
Thanks - where do I find that version https://repository-master.mulesoft.org/nexus/content/repositories/snapshots/org/raml/plugins/jaxrs-raml-maven-plugin/
only seems to have 1.3.4-SNAPSHOT

[2016-10-12 09:42] dmiorandi commented on #206
You can download sources and build yourself (mvn install from root of project to put in you cache),
otherwise https://jitpack.io/ is to use git project (version you want) as a snapshot, when mvn jar not available.

[2016-10-12 12:48] PeteTh commented on #206
Ok great it's working if I build from source of the master branch.

I noticed that the pom version of source on master branch is 1.3.4-SNAPSHOT not 1.3.5-SNAPSHOT.

Any idea when/if you can deploy either a snapshot release or final release to a plugin repository, as don't really want to have build from source on all machines & it looks like this was fixed last year !

[2016-10-12 13:02] dmiorandi commented on #206
I'm just a contributor and I'm waiting too. I had same issue and I built from sources too (and put it on my nexus, one-shot)
If you don't want build sources jitpack is the only solution, it does it for you.
Usually releases are lazy. I hope that 1.3.5 will release before end of the year but honestly I don't know.

[2016-10-13 10:16] vijayrcse commented on #150
Pavel

I am getting the below validation error
`java.lang.IllegalArgumentException: Invalid RAML definition:
        ERROR Unknown key: standardResourceTypes (line 6, col 2 to 23)
        ERROR Unknown key: standardDataTypes (line 7, col 2 to 19)
        ERROR Unknown key: standardTraits (line 8, col 2 to 16)
        ERROR Unknown key: myCustomTypes (line 9, col 2 to 15)
        ERROR Unknown key:

[2016-10-13 15:30] petrochenko-pavel-a commented on #150
This is pretty weird according to what I see, from the issue, it seems that RAML Java parser is not able to parse your RAML file by some reason.  :-(.  I will try to check how it handles similar situations later today.

Hopefully it is not getting broken from relative include or from resource types declared in libraries....
@sichvoge .

Regards,
Pavel

[2016-10-13 15:32] petrochenko-pavel-a commented on #150
P.S. thanks a lot for your report.
If you can provide more details about your RAML (ideally small failing example) it will be easier to debug what happens.

Thanks in advance,
Pavel

[2016-10-13 15:37] vijayrcse commented on #150
Let me give a simple one. It fails for a raml file just having dataTypes only.

`#%RAML 1.0
title: My API with Types
mediaType: application/json
types:
  Org:
    type: object
    properties:
      onCall: AlertableAdmin
      Head: Manager
  Person:
    type: object
    properties:
      firstname: string
      lastname:  string
      title?:    string
  Phone:
    type: string
    pattern: "[0-9

[2016-10-13 15:37] petrochenko-pavel-a commented on #150
looking

[2016-10-13 20:42] petrochenko-pavel-a commented on #150
Hm, this one works perfectly for me.

[2016-10-14 10:10] vijayrcse commented on #150
Hey Pavel ,
I checked out https://github.com/petrochenko-pavel-a/raml-for-jax-rs/tree/raml1.0. and then did a mvn install on that

After that I tried code gen option through command line as well as maven-plugin in elicpse. Both gave same result

I will retry this again and confirm one more time to validate that I am using the right version

[2016-10-14 11:43] vijayrcse commented on #150
It worked. The simple raml file that I gave you yesterday works fine for code gen

I will continue to test our actual raml spec on 1.0 ( which is using libraries refered via relative include )

Thanks a lot for your time to respond my queries.

Also Can u tell me where I can download the below snapshot ? Could not find in any repo and mvn install could not find it.

com.onpositive.aml:org.aml.java

[2016-10-14 14:12] petrochenko-pavel-a commented on #150
Glad to hear this

Thanks a lot, tests and issues/feature suggestions is what I need most.

Ups, thanks for reporting this, I am publishing releases to mvn central, but I did not configured CI to publish snapshots properly(will fix it asap - just filed https://github.com/OnPositive/aml/issues/13).

PS. For now snapshots can be installed from by cloning `https://github.com/OnPositive/aml` and runni

[2016-10-14 16:45] vijayrcse commented on #150
Thanks Pavel

Now I tried with my actual spec that uses resourceTypes, traits , libraries etc

Getting the below exception. Do you recognize this or know why this would occur ?( My RAML spec is verified in ATOM no errors reported )

`java.lang.NullPointerException
        at org.aml.typesystem.ramlreader.TopLevelRamlModelBuilder.getValue(TopLevelRamlModelBuilder.java:581)
        at org.aml.typesy

[2016-10-15 07:36] petrochenko-pavel-a commented on #150
According to what I see from stack trace it got broken during library parsing. (According to the code, I beleive that it may happen in the cases like)
[code]
Strangely this does not creates errors in API Workbench.

[2016-10-17 08:58] zerok commented on #187
Sadly still not available :(

[2016-10-17 16:35] petrochenko-pavel-a commented on #150
Switched dependencies to 0.0.8 release. Added one more example of RAML->JAVA. @vijayrcse do you still experiencing an issue with  TopLevelRamlModelBuilder?

[2016-10-18 03:31] vijayrcse commented on #150
Pavel, i will re-test and confirm this today. could not reply as i was out for past 3 days

[2016-10-18 08:26] petrochenko-pavel-a commented on #150
Hi guys, I have published raml->jaxrs and raml->jaxrs maven plugin under `com.onpositive.aml` group in maven central for now. So if you would like to test it you may change `<groupId>` value to `com.onpositive.aml` and version to 1.3.6 (just like in the sample configuration below).

### RAML to JAXRS
[code]
### JAXRS->RAML
[code]
Regards,
Pavel

[2016-10-18 15:25] vijayrcse commented on #150
I removed all the relative URL and re-tried my RAML spec( with above release plugin )

`
Caused by: java.lang.NullPointerException
        at org.aml.typesystem.AbstractType.addMeta(AbstractType.java:214)
        at org.aml.typesystem.ramlreader.TopLevelRamlModelBuilder.innerBuild(TopLevelRamlModelBuilder.java:336)
        at org.aml.typesystem.ramlreader.TopLevelRamlModelBuilder.buildType(TopLeve

[2016-10-18 16:51] vijayrcse commented on #150
Found where it is failing. It fails for below dataTypes declaration

`types:
  Exchange:
    type: object
    properties:
      value: integer
      in: integer
      out: integer
  Sale:
    type: object
    properties:
      machineId: string
      trayId: string
      dateAndTime: datetime-only
      exchange: Exchange
  SaleDetail:
    type: object
    properties:
      dateAndTime: datetime-o

[2016-10-18 17:06] vijayrcse commented on #150
I think below is the one breaking

`
SaleDetail:
    type: object
    properties:
      dateAndTime: datetime-only
      value: integer
      machineId: string
      productId: string
  SaleDetails:
    type: array
    items: SaleDetail
`

But I think this is valid per RAML spec

[2016-10-18 18:51] petrochenko-pavel-a commented on #150
Yep, you are totally right, problem is in items+array combination. Fixing it.

[2016-10-18 20:36] petrochenko-pavel-a commented on #150
Published 1.3.7 and 0.0.9 version of AML (this should work fine with them)

[2016-10-19 05:02] vijayrcse commented on #150
Okay thanks a lot will test again
Also i am going to test today with relative path for "uses" with some "traits"includes
Will let you know

[2016-10-19 11:11] vijayrcse commented on #150
I tested the 1.3.7 version. I don't get any errors now. But the code gen output generates one file under resource folder

`
import javax.ws.rs.Path;

@Path("sales")
public interface SalesThatAreDoneSoFarResource {

}
`

It doesn't have any method.

Will share the sample RAML spec.

[2016-10-19 11:13] petrochenko-pavel-a commented on #150
Ho Ho. Looking forward to see it

19 Окт 2016 г. 6:11 PM пользователь "vijayrcse" <notifications@github.com>
написал:

[2016-10-19 12:32] vijayrcse commented on #150
Try to simplify a bit, and got an error this time

`
#%RAML 1.0
title: My API with Types
mediaType: application/json
uses:
  standardDataTypes: standardDataTypes.raml
  simpleResourceTypes: simpleResourceTypes.raml
/orgs/{orgId}:
  type:
    simpleResourceTypes.collection:
      itemType: standardDataTypes.Org
`

**standardDataTypes.raml**

`
#%RAML 1.0 Library
usage: Standard Data types

types:
P

[2016-10-19 15:51] petrochenko-pavel-a commented on #150
Ok, I know reason, Java parser was not able to resolve include. But still interesting. Working on it.

[2016-10-19 16:18] vijayrcse commented on #150
One more question :  is raml-for-jax-rs project supports java client code generation for a given RAML spec ?

We see it only generates an interface

[2016-10-19 19:55] petrochenko-pavel-a commented on #150
Theoretically yes. (this means that it actually contains code required to generate inerfaces for jersey clients), in practice it is something like a no, because this code is not exposed to maven plugins, not tested well, e.t.c.

On the good side it does not looks a big job to build a client gen, after foundation is stable, and it is actualy inside of my research plan.

Regards,
Pavel

[2016-10-20 08:17] vijayrcse commented on #150
HI Pavel

Any findings on the java parser error ?

[2016-10-20 08:50] petrochenko-pavel-a commented on #150
Yep. I fixed all issues that I was able to reproduce. (however I still does not know reason of your original issue (empty generated interface).

I will release next version in ~20 mins.

[2016-10-20 08:55] petrochenko-pavel-a commented on #150
QQ: are you ok with installing from git? If yes I would prefer to avoid doing to lot of releases.

[2016-10-20 09:14] vijayrcse commented on #150
okay I can try that as well. Let me know the git URL.

Also for the original issue( empty generated interface ) I will try to reproduce after testing the fix. That issue was produced when I test against my RAML spec ( which is quite big compared to wat I shared yesterday ). Just taking a step-by-step approach so it is easier to find and fix problem

[2016-10-20 09:35] petrochenko-pavel-a commented on #150
Just published 1.3.8 to maven (but it still not visible in repo)

[code]

you will also need aml 0.0.10 (it is already published but may be not accessible yet)

It is located at (https://github.com/OnPositive/aml)

Regards,
Pavel.

[2016-10-20 09:44] vijayrcse commented on #150
thanks checking this out

[2016-10-20 10:25] vijayrcse commented on #150
getting this now for the same raml i shared above. Not using any relative URL to include libraries.

`
Caused by: java.lang.NullPointerException
        at org.aml.typesystem.InheritedType.addSuperType(InheritedType.java:42)
        at org.aml.typesystem.InheritedType.<init>(InheritedType.java:31)
        at org.aml.typesystem.TypeOps.derive(TypeOps.java:31)
        at org.aml.typesystem.ramlreade

[2016-10-20 10:55] petrochenko-pavel-a commented on #150
yes, I even added it to tests.

[2016-10-20 11:01] petrochenko-pavel-a commented on #150
Just pushed more accurate issue reporting to aml.  (does not releasing anything), so you will need to update aml from git.

[2016-10-20 11:35] vijayrcse commented on #150
okay let me try

[2016-10-20 12:00] vijayrcse commented on #150
can you tell me know what this error means ?

Caused by: java.lang.IllegalArgumentException: At least one ancestor is needed
        at org.aml.typesystem.TypeOps.derive(TypeOps.java:29)
        at org.aml.typesystem.ramlreader.TopLevelRamlModelBuilder.innerBuild(TopLevelRamlModelBuilder.java:303)
        at org.aml.typesystem.ramlreader.TopLevelRamlModelBuilder.buildType(TopLevelRamlModelBuilder.

[2016-10-20 12:15] petrochenko-pavel-a commented on #150
This means that typesystem attempts to extend a type when no super type is specified, it is definitely my fault. Most probably error in default type calculation, give me a sec.

[2016-10-20 12:20] petrochenko-pavel-a commented on #150
Do you have a sample to reproduce?

[2016-10-20 12:27] vijayrcse commented on #150
will give in a min. but it is same raml

[2016-10-20 12:34] petrochenko-pavel-a commented on #150
buh, it works fine for me.

[2016-10-20 12:36] vijayrcse commented on #150
could be due to myself pointing to wrong version of any libs. i will validate from my side

api : simple.raml

these are the files
[simple.raml.txt](https://github.com/mulesoft/raml-for-jax-rs/files/541676/simple.raml.txt)
[simpleResourceTypes.raml.txt](https://github.com/mulesoft/raml-for-jax-rs/files/541677/simpleResourceTypes.raml.txt)
[standardDataTypes.raml.txt](https://github.com/mulesoft/ra

[2016-10-20 12:50] vijayrcse commented on #150
I am getting similar error from git code as well

testcase : RAML1Test.java

`
Tests run: 2, Failures: 0, Errors: 1, Skipped: 0, Time elapsed: 1.146 sec <<< FAILURE!
runComplete(org.raml.jaxrs.codegen.core.RAML1Test)  Time elapsed: 0.822 sec  <<< ERROR!
java.lang.IllegalArgumentException: At least one ancestor is needed
        at org.aml.typesystem.TypeOps.derive(TypeOps.java:29)
        at org.a

[2016-10-20 13:18] petrochenko-pavel-a commented on #150
yep, this was my fault. Fixing. this one + another one.

P.S. thanks a lot for your help and a big sorry for this issues (working on another project simultaniously)

[2016-10-20 13:35] petrochenko-pavel-a commented on #150
Fixed, works fine for me now. (please pull and test on your side to)

[2016-10-20 13:54] vijayrcse commented on #150
doing right away

[2016-10-20 14:09] vijayrcse commented on #150
excellent!. it worked :+1:

[2016-10-20 14:12] vijayrcse commented on #150
I will continue to test adding back additional features from my original RAML 1.,0 spec. will let you know if i come across anything..

[2016-10-20 14:19] petrochenko-pavel-a commented on #150
Thanks a lot.!!!
Hopefully we are near to getting it working with your spec.

Regards,
Pavel

[2016-10-20 15:00] dmiorandi commented on #150
Hi everybody, I'm interesting ot migrate my actual raml 0.8 + jsonschema draft3 projects (so jsonschema2pojo as base)
Just some questions to understand:

Does new raml1.0/new java code generator supports:
* java extends
* java implements
* Json schema draft3
* custom field type binding (i.e. map numeric field to BigDecimal, java 8 date datetime localdate, ...)
* custom object / class type mapping

[2016-10-20 15:18] vijayrcse commented on #150
Pavel
Do you think resource type inheritance is supported ?

`
resourceTypes:
  single:
    get:
      responses:
        200:
          body:
            application/json:
              type: <<itemType>>

  read-only-collection:
    type: { single: { itemType : <<itemType>> } }
    get:
      responses:
        200:
          body:
            application/json:
              type: <<itemType>>[]

[2016-10-20 16:01] petrochenko-pavel-a commented on #150
No, I have just tried basic sample with resource type inheritance and it works fine. According to what I see from RAML Parser output it looks like it failed to substitute  type parameter. So I need more info (sample of resource type appication to debug)

Regards,
Pavel

[2016-10-20 16:21] petrochenko-pavel-a commented on #150
Hi @dmiorandi

In a few words answer is partially you may look in the list of supported features at [AML RAML->Java](https://github.com/OnPositive/aml/blob/master/raml2java.md) some of them are already wired to raml-for-jaxrs configuration, some are not yet.

If you need something particular please file an issue/feature request and I will try to handle it asap.

There is something in JS world (htt

[2016-10-20 18:52] dmiorandi commented on #150
Ok, so issues was created. This is what I understand from documentation

SUPPORTED
* I can partially or completly use external jsonschema like in raml 0.8 (based on jsonschema2pojo)
* BigDecimal, BigInteger native support, but no Java8 time

MISSING
* Custom naming of java class (class name and package name) instead same name as raml object
  https://github.com/OnPositive/aml/issues/19
* Possibili

[2016-10-20 21:21] petrochenko-pavel-a commented on #150
Thanks a lot @dmiorandi .

Will handle it in nearest days.

Regards,
Pavel

[2016-10-25 09:01] ysyzygy opened #207 "NullPointerException when uses multipart with body"
I tried to get jax-rs definition from this REST service example https://github.com/albinkjellin/soap-rest-attachments/blob/master/src/main/api/api.raml (autogenerated using a RAML) but it throws an exception:

C:\raml>java -cp C:\raml\raml-to-jax-rs.jar org.raml.jaxrs.codegen.core.Launcher -basePackageName com.somecompany.sample -outputDirectory C:\raml\ -
sourceDirectory C:\raml\
log4j:WARN No ap

[2016-10-25 09:54] kumako opened #208 "json schemas copied using a non-UTF-8 Character Set"
Hi,

I noticed that the maven plugin rewrites json schemas files in the jvm default encoding while jsonschema2pojo always parse them in UTF-8.

That causes an exception when UTF-8 is not the default charset and we have a non-ascii character in our file :

        at org.jsonschema2pojo.ContentResolver.resolve(ContentResolver.java:67)
        at org.jsonschema2pojo.SchemaStore.create(SchemaStore.ja

[2016-10-26 14:10] BluetriX commented on #198
Same here! Constants are not Resolved in the Path-Annotation:
@Path(UserBeanKey.USER_KEY + "/" + UserBean.REL_COMPANY)

results:
'/v{version}/users/(((com.example.user.UserBeanKey.USER_KEY) + "/") + (com.example.user.UserBean.REL_MAIN_ACCOUNT_MANAGER)) + "/{advisorUserNr}"':

[2016-10-26 15:37] KaiSchwier opened #210 "Support more of jsonschema2pojo's configuration parameters"
Hi,

would it be possible to support more of jsonschema2pojos configuration options, like classNamePrefix, classNameSuffix (I know you can work around this with "javaType", but it is not that clean), maybe also customRuleFactory to allow full customization, or some of the others which are also available.
See https://joelittlejohn.github.io/jsonschema2pojo/site/0.4.27/generate-mojo.html

With bests

[2016-11-11 19:02] jstoiko opened #211 "Add RAML 1.0 support to raml-to-jaxrs"
Work-in-progress: https://github.com/mulesoft/raml-for-jax-rs/tree/release/2.0.0

- [x] Generate interfaces
- [x] Generate types
- [x] Generate helpers
- [x] Generate JAX-RS code from RAML 1.0
- [x] Generate JAX-RS code from RAML 0.8
- [x] Option for writing javadoc + JAXB annotations on types
- [x] Option for JSR 303 annotations relative to facets (doing)
- [x] Option for Jackson annotations
- [x

[2016-11-11 19:04] jstoiko opened #212 "Add RAML 1.0 support to jaxrs-to-raml"
Work-in-progress: https://github.com/mulesoft/raml-for-jax-rs/tree/release/2.0.0

- [x] Extract relevant information from classes/code
- [x] Generate a `__raml__` interface for each JAX-RS defined types
- [x] Generate RAML 1.0 from JAX-RS code (CLI)
- [x] Extracting JaxRs resources from a set of compiled classes
- [x] Support for @Path classes and methods
- [x] Support for most HTTP verbs (HEAD, P

[2016-11-11 19:26] jstoiko opened #213 "Other RAML 1.0 concerns"
Work-in-progress: https://github.com/mulesoft/raml-for-jax-rs/tree/release/2.0.0

- [x] Maven plugin, more examples
- [x] Address potential corner cases specific to RAML 1.0
- [x] Maven plugins
- [x] plugins to extend code generation (`GeneratorExtension`)
- [x] More testing/polishing
- [x] Add more examples
- [x] Update docs

[2016-11-30 14:20] Sevyls opened #214 "raml-jaxrs-maven-plugin: RAML queryParameters: Option missing for Long instead of integer"
Refering to #133

[code]

RAML specifies only integer as a value type - not its limitations i.e. in Java.

The raml-jaxrs-maven-plugin generates attributes with Type Integer:

[code]

There is currently no option to provide an override in queryParameters to generate Long instead of Integer parameters. In JSON Mapper it is already existing.

A feature to configure the maven plugin to generate Long

[2016-12-01 06:41] jstoiko commented on #214
@Sevyls: there is a new version [in the works](https://github.com/mulesoft/raml-for-jax-rs/milestone/1). The goal is to add support for RAML 1.0 while being backward compatible with RAML 0.8. The plan is to address the specific issue you described using [annotations](https://github.com/raml-org/raml-spec/blob/master/versions/raml-10/raml-10.md#annotations). This will only work with RAML 1.0 though

[2016-12-01 16:05] Sevyls opened #215 "raml-jaxrs-maven-plugin: RAML to JAX-RS: provide option to allow plain JAX-RS Responses instead of generated Response types"
Currently the maven plugin generates specific Response Types which allow easy use of the exact API.
Adding undocumented (i.e. technical) attributes to an implementation becomes real hard.

i.e. RAML:

[code]

Generates the following JAX-RS interface:
[code]

and if you follow the generated Code you do something like this:

[code]

Adding a header or some other HTTP Response related stuff, you will

[2016-12-22 23:32] PhilLavoie commented on #212
Hi, I can't edit the above list so I'll just insert my own here :):

- [x] Extracting JaxRs resources from a set of compiled classes
- [x] Support for @Path classes and methods
- [x] Support for most HTTP verbs (HEAD, POST, GET, DELETE, PUT, OPTIONS)
- [x] Support for media types @Consumes and @Produces. The default media type is that of JaxRs and is listed as such in the RAML generated. Any metho

[2016-12-23 17:56] jstoiko commented on #212
thanks @PhilLavoie!

[2016-12-26 17:32] yuranos87 opened #216 "A required class was missing while executing org.raml.plugins:jaxrs-raml-maven-plugin"
I am trying to generate RAML for our Jersey resources(on top of Mule ESB) and for some reason I keep getting:
[INFO] BUILD FAILURE
[INFO] ------------------------------------------------------------------------
[INFO] Total time: 20.522 s
[INFO] Finished at: 2016-12-26T19:25:49+02:00
[INFO] Final Memory: 48M/514M
[INFO] ------------------------------------------------------------------------
[ERRO

[2017-01-09 08:32] sichvoge commented on #212
@jstoiko the mapping for form parameters usually is a simple `object` type with `properties`.

[2017-01-20 17:07] Frank112 opened #217 "Can't handle interfaces"
Hello,

I have the following issue with jaxrs-to-raml-maven-plugin if I want to generate the RAML for my REST-Api:
[code]

I think the problem is within the xsd schema generation for the Beans. If I generate the schema with the JAXBContext everything works fine and the interfaces are correctly replaced by the corresponding implementation of them.
But the maven plugin of jax-rs-to-raml seems to hav

[2017-02-03 13:02] aaron-axisa opened #218 "Cross-Referenced Json Schema taking name of first field encountered"
Assume i have this schema structure

SchemaA.json:
[code]

SchemaB.json:
[code]
Common.json:
[code]

In this case, the Java Pojo generated for Common.json is called either "MyValA.java" or "MyValB.java"  as it is called after the first property field name it encounters

I believe it would make sense for it to be called either "MyCommonUniqueName.java" (from the id) or possibly "Common.java" (from

[2017-02-08 10:26] clovis-guillemot commented on #192
+1
any solution for 8 months @hantsy ?

[2017-02-09 19:15] jstoiko commented on #192
@clovis-guillemot: there is a new version in the works: https://github.com/mulesoft/raml-for-jax-rs/tree/release/2.0.0 and it's currently released as `2.0.0-RC1` on `repository-master.mulesoft.org`.

It's a complete refactoring with support for RAML 1.0. The docs along with examples for generating RAML from JAXRS, i.e.`jaxrs-to-raml`, is [here](https://github.com/mulesoft/raml-for-jax-rs/blob/rele

[2017-02-17 18:32] cskradski opened #219 "Build JAXRS code generator standalone jar"
Can someone provide instructions for building the release 2.0.0 standalone code gen jar with dependencies included?  Thanks in advance!

[2017-02-20 19:16] jstoiko commented on #219
@cskradski: we just added a separate package that builds a JAR with dependencies.

Now you can do:
[code]

It automatically builds a `raml-to-jaxrs-cli-<version>-jar-with-dependencies.jar` JAR file inside the `raml-to-jaxrs/raml-to-jaxrs-cli/target/` folder.

Then you can do:
[code]

This generates a `foo.bar` package inside `/tmp` from the RAML file included in the `ramp-defined-example` example.

[2017-02-21 09:54] ujjwal-gupta commented on #212
What about support for Annotation types as per [RAML Issue 174](https://github.com/raml-org/raml-spec/issues/174). Being able to mark an endpoint as deprecated is particularly useful.

[2017-02-22 16:44] raghucha opened #220 "Generated POJO classes need to have serializable interface implemented"
Hi , we have a requirement where in the POJO  generated  by the RAML  plugin need to have Serializable interface implemented as we are trying to save data in session . This is an enhancement request

[2017-02-28 11:23] vijayrcse commented on #220
hi is there any update on this issue ?

[2017-03-01 06:20] jstoiko commented on #215
hi @Sevyls, there is a [new version](https://github.com/mulesoft/raml-for-jax-rs/tree/release/2.0.0) in the works with RAML 1.0 support.

If it's still relevant, would you mind trying to generate a response again using the new version?

[code]

[2017-03-01 06:24] jstoiko commented on #216
@yuranos87: did you ever get around to find the cause of your issue? maybe you'll want to give this [new version](https://github.com/mulesoft/raml-for-jax-rs/tree/release/2.0.0) a try...

[2017-03-01 06:34] jstoiko commented on #210
The new (upcoming) version has more, [here's the list](https://github.com/mulesoft/raml-for-jax-rs/blob/release/2.0.0/raml-to-jaxrs/examples/maven-examples/simple-json-example/README.md). Feel free to try it and tell us if you're missing anything.

[2017-03-01 06:38] jstoiko commented on #208
@kumako: this should be fixed in the [new version](https://github.com/mulesoft/raml-for-jax-rs/tree/release/2.0.0). Let me know if you have time to try it and confirms that it's the case.

[2017-03-03 11:39] mplanchant commented on #220
Just add it to your JSON schema [https://github.com/joelittlejohn/jsonschema2pojo/wiki/Reference#javainterfaces](https://github.com/joelittlejohn/jsonschema2pojo/wiki/Reference#javainterfaces).

[2017-03-03 14:53] vijayrcse commented on #220
thanks a lot @mplanchant , This works perfectly...

[2017-03-06 08:06] clovis-guillemot opened #221 "Support JAXB in release 2.0 label:question"
Is the new release 2.0.0 will support JAXB annotations for types like the previous one ?
Any roadmap for this future ? Need help ?

[2017-03-06 17:50] jstoiko commented on #221
your question is great timing as we're trying to figure out the best approach for JAXB to RAML translation.

here are the two main concerns at this point:

1) there are different ways of defining the same thing with JAXB, can you provide one or more examples of annotations you'd use in real life?
2) with RAML 1.0, schemas could be generated either in `xml`, `json`, or `yaml` (raml data type). what

[2017-03-06 18:01] sichvoge commented on #221
I would generate RAML data types since they can be easily repurposed for XML or JSON schemas as they represent a more abstract way to describe data. My 2 cents

[2017-03-07 07:11] clovis-guillemot commented on #221
@jstoiko thanks for your answer.

1. I'm only using xml annotations for normal usage as follow :
[code]

[2017-03-07 18:07] adereveanco opened #222 "Injecting api version into value of the generated Path annotation on resource."
Hello,

is there a way to generate the Path annotations to include the version specified in the api.raml file?

I'm looking for the following RAML
`
version: v1
baseUri: http://api.myhost.com/{version}
mediaType:  application/json
`
....
`
/configure:
  get:
    is: [ async ]
    queryParameters:
`
to generate something like this

`
@Path("v1/configure")
public interface ConfigureResource {
`

I'v

[2017-03-07 20:43] hegderohit89 commented on #221
If you are coming from jaxrs-raml converter perspective that means API’s are already done and mostly they follow JSON (request and response), so it would be great if there is some support to generate schema and examples just the way it was in 1.3.4

It can be very basic JAXB annotations like @XmlRootElement , @XmlElement(name = "...", defaultValue = "...")

[2017-03-13 09:53] BackendButters commented on #43
Is there any update on this?

[2017-03-15 11:38] mplanchant commented on #213
Dare I ask when 2.0.0 is likely to be released?

[2017-03-15 14:26] mplanchant opened #223 "Generating toString, hashCode and equals for Java classes generated from RAML DataTypes"
It is possible to generate Java classes with toString, hashCode and equals methods from JSON schemas (described [here](https://github.com/mulesoft-labs/raml-for-jax-rs/tree/release/2.0.0/raml-to-jaxrs/examples/maven-examples/simple-json-example)). Is this possible when Java classes are generated from RAML DataTypes?

[2017-03-15 22:36] jstoiko commented on #213
End-of-the-month (of March) is the goal for GA.

Are there any features - listed or not listed in [1 of these 3 issues](https://github.com/mulesoft-labs/raml-for-jax-rs/issues?q=is%3Aopen+is%3Aissue+milestone%3A2.0.0) - that you'd say is top-priority for you?

[2017-03-17 08:37] mplanchant commented on #213
I'm interested in raml-to-jaxrs which looks as though it is mostly complete. It would be nice if the POJOs generated from RAML Data Types had builders, hashCode, equals, toString etc.

[2017-03-17 20:29] jstoiko commented on #207
@ysyzygy: there is a new [2.0.0 version in the works](https://github.com/mulesoft-labs/raml-for-jax-rs/tree/release/2.0.0). Feel free to give it a try and update this issue.

[2017-03-17 20:31] jstoiko commented on #198
@ujjwal-gupta @BluetriX have you tried this the new [2.0.0 version in the works](https://github.com/mulesoft-labs/raml-for-jax-rs/tree/release/2.0.0)? Feel free to give it a try and update this issue. It should work as expected now. If not, we'll address it before the GA release.

[2017-03-17 21:46] jstoiko commented on #202
@sdoca I would be interested to know how your RAML and JSON schema files behave is the new 2.0.0 version? Would it be too much to ask you to try it and give your feedback here? The version is in a [separate branch](https://github.com/mulesoft-labs/raml-for-jax-rs/tree/release/2.0.0) for now.

[2017-03-20 06:16] jstoiko commented on #205
Sorry for making you wait so long to get an answer but we've been working on a new version of `raml-for-jax-rs` with RAML 1.0 support.

If it's not too late, you can check this [example](https://github.com/mulesoft-labs/raml-for-jax-rs/tree/release/2.0.0/raml-to-jaxrs/examples/maven-examples/raml-defined-example) to get you started. Then you can try adding a JSON schema with an `enum` to see what

[2017-03-21 15:51] KevinMitchell opened #224 "No JAX-RS endpoints generated from a RAML 1.0 specification"
Hi,

I'm trying the release/2.0.0 branch of raml-for-jax-rs and ran the raml-to-jaxrs-cli jar passing it a RAML 1.0 specification.  It appeared to run without error, but only generated interfaces and classes for the types, plus a ResponseDelegate source.  There was no code generated for any of the RAML methods.  So is there some command-line argument I'm missing when I'm invoking the raml-to-jaxrs

[2017-03-21 16:43] jstoiko commented on #224
what `<value/>` have you set for `<configureTypesFor/>` in your `pom.xml`?

[2017-03-21 17:58] KevinMitchell commented on #224
Ah, that perhaps explains it.  So I can see in the examples directory there are pom files for the examples, and I can see these have the configureTypesFor entries.  But I was trying to convert my raml using the cli project.  So do I still need to have the same project structure as the other examples, and the cli project is just a convenient way of invoking this?  I'd been assuming it would just be

[2017-03-21 18:25] jstoiko commented on #224
you can pass that option to the CLI using the `-e` argument: https://github.com/mulesoft-labs/raml-for-jax-rs/blob/release/2.0.0/raml-to-jaxrs/raml-to-jaxrs-cli/src/main/java/org/raml/jaxrs/ramltojaxrs/Main.java#L57

sorry it wasn't clear. this needs to be documented!

[2017-03-22 07:04] KevinMitchell commented on #224
I added -e jackson to the CLI, and now get annotations on the classes generated from the RAML types.  But I still don't get any code corresponding to the RAML resources.  For example, if I define
[code]
I was expecting to get a class generated for Foo, with an @Path annotation etc.  But there was no sign of one.  So is there something else I'm missing from the CLI?

[2017-03-22 19:18] jpbelang commented on #224
Hi, are you running with the CLI ?
java -jar .../raml-to-jaxrs/raml-to-jaxrs-cli/target/raml-to-jaxrs-cli-2.0.0-RC2-SNAPSHOT-jar-with-dependencies.jar -e jackson -d /tmp -r singlepackage types_user_defined.raml

Should generate files in /tmp/singlepackage.

If you are running through maven, the files are genrated in target/generated-sources/raml-jaxrs.

[2017-03-22 22:06] KevinMitchell commented on #224
I've just moved to the maven version and it works fine for me there.  But thanks for the help.

[2017-03-22 22:06] #224 closed

[2017-03-27 15:03] leflamm opened #226 "ConcurrentModificationException when using raml-to-jaxrs-cli"
Being on commit 56efb5c46578142148a4f096e5511b904b28074b (HEAD -> release/2.0.0, origin/release/2.0.0)
[code]

When trying to run `java -jar ./target/raml-to-jaxrs-cli-2.0.0-RC2-SNAPSHOT-jar-with-dependencies.jar -d /tmp -r com.foo mini.raml` the following exception is thrown

[code]

Deleting either declaration - `ArticleReference` or `Method` - will let the code generation run without errors.

[2017-03-27 19:00] red61wjt opened #227 "RAML file created with !include rather than inline"
The example shown in the readme, but version 1.3.4 is creating files with !include which makes it unsuitable for upload to restlet.com

How to I force inline schema ?

[2017-03-28 09:53] vijayrcse opened #228 "RAML to JAX-RS code gen not generating java.util.Long dataype"
Hi All,

is there a way to get Long dataype to be generated in the java code. For my RAML refering to the below schema it generates the datatype as Double ( for attribute "abc" )

{
     "$schema": "http://json-schema.org/draft-04/schema#",
     "type": "object",
     "description": "xyzSchema",
     "additionalProperties": false,
     "properties": {
           "abc": {
                "type": "n

[2017-04-04 13:17] leflamm commented on #226
Problem is gone if you declare your enum types at top level.

[2017-04-04 13:21] leflamm opened #229 "Exception if query parameters are defined as object type"
Being on commit 4d6de5d (HEAD -> release/2.0.0, origin/release/2.0.0)

`raml-to-jaxrs-cli` will fail if query parameters are defined as object type.

[code]

https://github.com/raml-org/raml-spec/blob/master/versions/raml-10/raml-10.md#query-parameters-in-a-query-string

[2017-04-04 16:09] leflamm opened #230 "Question: What is @BuildType("ramlforjaxrs-simple") for"
Hi,

annotation seems to add an unnecessary(?) dependency to `org.raml:raml-for-jaxrs-common`. What is it for?

Thx, Christian

[2017-04-04 17:36] jpbelang commented on #230
This code is in flux:  we are trying to find a way to control the way raml types are encoded from jaxrs types.
The name sure is crap though.

[2017-04-04 17:38] jpbelang commented on #226
I'll look into it tonight.  Pretty sure I know what it is.  The handling of internal types is a bit tricky.  Thanks for the example.

[2017-04-04 18:21] jpbelang commented on #229
I maybe misunderstanding your request, but the raml spec doesn't square very well with jaxrs here:

public @interface QueryParam

Binds the value(s) of a HTTP query parameter to a resource method parameter, resource class field, or resource class bean property. Values are URL decoded unless this is disabled using the Encoded annotation. A default value can be specified using the DefaultValue annot

[2017-04-05 09:55] vijayrcse opened #231 "Issue with generated class level @Path annotation"
I am using the RAML to JAX-RS code gen plugin where i am getting below source code generated

[code]

You can see here the "resources" from from RAML is generated at class level as well as method level.
Please advise if this can be fixed

RAML 1.0
-----------

[code]

EDIT: description edited to add formatting to the Java and RAML snippets (by @jstoiko)

[2017-04-05 12:02] cskradski commented on #219
Build failed with [ERROR] Plugin org.apache.maven.plugins:maven-source-plugin:2.3 or one of its dependencies could not be resolved: Failed to read artifact descriptor for org.apache.maven.plugins:maven-source-plugin:jar:2.3: Could not transfer artifact org.apache.maven.plugins:maven-source-plugin:pom:2.3 from/to central (https://repo.maven.apache.org/maven2): sun.security.validator.ValidatorExcept

[2017-04-07 12:12] jpbelang commented on #228
Are you using the 2.0.0 branch ?

[2017-04-07 13:50] vijayrcse commented on #228
yes using 2.0.0-RC1

[2017-04-07 16:34] jstoiko commented on #228
@vijayrcse: would you mind trying your RAML/JSON schema using the release/2.0.0 branch?

[2017-04-07 18:04] vijayrcse commented on #228
can you please share the groupid, artifactid of that 2.0.0 branch plugin
please ?

On Fri, Apr 7, 2017 at 10:04 PM, Jonathan Stoikovitch <
notifications@github.com> wrote:

[2017-04-07 18:50] jstoiko commented on #228
[code]

This will build the JARs in the `target/` sub-folders of each project.

[2017-04-09 21:56] jstoiko commented on #221
FYI, this feature has been implemented. JAXB annotations will now generate RAML data types.

It's in the `release/2.0.0` branch if you want to take a look at it before the GA release. There's an example in the `jaxrs-to-raml` project.

[2017-04-09 22:38] jstoiko commented on #229
I have seen at least two different ways of implementing objects in query parameters.

1) using JSON, e.g. `/foo?param={'object':'json'}`
2) using dot-notation, e.g. `/foo?param.object=json`

I personally prefer option 2) but I don't have strong arguments against option 1) plus I think one should have the ability to implement it the way one wants. That being said, @leflamm: would you be ok with wha

[2017-04-09 23:04] jstoiko commented on #219
There will be as soon the GA is released which should happen in the next few days.

PS: after doing a quick "Google search", the error your getting seems to be linked to older Maven versions, which version are you using? have you tried updating Maven?

[2017-04-11 07:14] kevinduffey opened #232 "Will RAML 1.0 to JAXRS support custom annotations"
I suspect the answer to this is no, but I am hoping we can come up with a good set of useful annotation types that can be shared community wide, and adopted by frameworks like this, RAML2HTML and more. For example, having annotations for HATEOAS links, resource deprecation, and customized class/method names, for starters.

What may be of better use is how do we take the RAML2JAXRS project, and add

[2017-04-11 08:54] leflamm commented on #229
Yes, I currently fail to see another option.

[2017-04-11 09:01] leflamm commented on #226
Another twist: If you have a top level enum declaration of an enum type called `Foo` and you use that type to declare a property inside an object `bar: Foo` then the enum type `Foo` will be generated, but property is generated to be of type `Bar`! So...
- referenced type equals property/field name with first letter capitalized (in general this type doesn't exist)
- declared type is generated but n

[2017-04-11 11:27] leflamm opened #233 "leading underscores are thrown away"
Hi!
[code]
Generated Java code
[code]
[code]
[code]
We need this for e. g. `_schema` and `_links` information.

Thx, Christian.

[2017-04-11 11:34] leflamm commented on #232
+1000!

[2017-04-12 17:41] jstoiko commented on #232
@kevinduffey: the answer is "yes"

The new `2.0.0` release introduces something called "generation plugins" in `raml-to-jaxrs`. [Here](https://github.com/mulesoft-labs/raml-for-jax-rs/blob/release/2.0.0/raml-to-jaxrs/jaxrs-code-generator/README.md)'s the documentation, [here](https://github.com/mulesoft-labs/raml-for-jax-rs/blob/release/2.0.0/raml-to-jaxrs/examples/maven-examples/features/README.m

[2017-04-12 19:28] adjokic opened #234 "Handle Java Reserved Words/Keywords"
Hi,
I am trying to find a way to deal with Java reserved words in the raml -> jax-rs generation.
This happens when I have a raml data type with, for example:
[code]
this will fail with the following error during raml generation:
`[ERROR] Failed to execute goal org.raml:raml-to-jaxrs-maven-plugin:2.0.0-RC2-SNAPSHOT:generate (default-cli) on project raml: Error generating Java classes from: null: no

[2017-04-12 23:50] jstoiko commented on #230
This has been removed and replaced by `@RamlGenerator()` annotations. Closing this issue.

[2017-04-12 23:50] #230 closed

[2017-04-13 00:11] jstoiko commented on #223
@mplanchant: you should be able to use RAML 1.0 annotations along with those [plugins](https://github.com/mulesoft-labs/raml-for-jax-rs/tree/release/2.0.0/raml-to-jaxrs/jaxrs-code-generator). I hope that helps.

[2017-04-13 01:04] jstoiko commented on #226
@leflamm: I think [this](https://github.com/mulesoft-labs/raml-for-jax-rs/commit/373ae1ab5cc032b7fba23f52ba69aa7942d96fbe) fixed the problem. right?

[2017-04-13 07:05] wwulfric opened #235 "Is 2.0 released or not?"
I try to use it like https://github.com/mulesoft-labs/raml-for-jax-rs/blob/release/2.0.0/jaxrs-to-raml/jaxrs-test-resources/pom.xml, but I cannot download it. I checked it in https://repository-master.mulesoft.org/nexus/content/repositories/releases/ and https://repository-master.mulesoft.org/nexus/content/repositories/snapshots/ and didn't find 2.0.

[2017-04-13 13:39] leflamm commented on #226
Hi @jstoiko, this certainly prevents the `ConcurrentModificationException` - not sure what this means regarding correct behavior. Or does this also cover the mentioned "twist"? That I could check.

[2017-04-17 07:38] dcrossleyau commented on #202
Done some further exploration of this issue, using the head of master (1.3.5-SNAPSHOT) and release branch (2.0.0-RC2-SNAPSHOT).

The attached set of example files do "!include" a JSON schema file in another directory,
and that schema refers to another schema in a separate file.

The top-level schema examples use two different methods to declare the second JSON schema:

1) By filename -- "$ref": "p

[2017-04-18 11:23] leflamm commented on #232
Any precise ideas on how this could best be used for HATEOAS links or relations?

[2017-04-18 12:45] paulprashant1510 opened #236 "raml-jaxrs-maven-plugin 1.3.4 not supporting raml 1.0"
Hi,
I am using raml 1.0, I want to generate resources using raml-jaxrs-maven-plugin 1.3.4.
Can someone please tell me is this possible because I am getting multiple errors saying "Error Unknown Key:" for attributes like description, traits, type.

[2017-04-18 16:58] jstoiko commented on #236
1.3.x only supports RAML 0.8. For RAML 1.0 support, you can use the 2.0.0-RC1 version from the maven repository. The 2.0.0-GA will be released very soon (in the next few days). In the meantime, if you want to try the latest features (built after RC1), you can follow [these steps](https://github.com/mulesoft-labs/raml-for-jax-rs/issues/228#issuecomment-292621330). Hope this helps!

[2017-04-18 17:02] jstoiko commented on #235
`2.0.0-RC1` is [here](https://repository-master.mulesoft.org/nexus/content/repositories/releases/org/raml/jaxrs-to-raml/2.0.0-RC1/).

If you're trying that example from the repo, you might be better off building directly in that folder with `mvn clean install`.

[2017-04-18 17:07] paulprashant1510 commented on #236
@jstoiko thanks for sharing the information.. It's very helpful

[2017-04-19 20:56] remmercier opened #237 "Add the possibility to rename the generated java interface corresponding to a resource"
For example with
[code]
code generation will produce
[code]

[2017-04-20 10:13] vijayrcse commented on #231
hi any update on this ?

becoz @Path annotation appears at class level as well as method, the resource is accessible only as below

/resources/resources/subresource

Please advise if tis can be fixed

[2017-04-20 10:18] vijayrcse opened #238 "eclipse plugin generation - raml-to-jax-rs"
Like maven plugin is there a way to generate sources using eclipse plugin ? is this supported ?
( raml-for-jaxrs 1.3.4 supported eclipse plugin )

Please advise.

[2017-04-20 21:33] jstoiko opened #239 "Gradle plugin"

[2017-04-20 21:35] jstoiko opened #240 "Eclipse plugin"
We had it in 1.3.x, it's been dropped in 2.0.0 in favor of maven and CLI. Should we bring it back? and if so should it behave differently?

[2017-04-20 21:35] #212 closed

[2017-04-20 21:35] #211 closed

[2017-04-20 21:37] jstoiko opened #241 "Custom facets for future dates, past dates and non-emma patterns"
Might be able to workaround using [generation plugins](https://github.com/mulesoft-labs/raml-for-jax-rs/blob/master/raml-to-jaxrs/jaxrs-code-generator/README.md). If so, let's add an example.

[2017-04-20 21:37] #213 closed

[2017-04-20 21:38] #150 closed

[2017-04-20 21:40] jstoiko commented on #238
it's been dropped in 2.0.0 release in favor of maven/CLI.

moving the discussion [here](https://github.com/mulesoft-labs/raml-for-jax-rs/issues/240).

[2017-04-20 21:40] #238 closed

[2017-04-21 06:17] PascalBru commented on #235
Will release 2.0.0 also published at Maven Central Repository?

[2017-04-21 13:12] dcrossleyau commented on #202
That investigation shows that this issue also needs the "2.0.x" label.

[2017-04-21 15:09] jstoiko commented on #235
@PascalBru: https://github.com/mulesoft-labs/raml-for-jax-rs/blob/master/README.md#maven-artifacts

[2017-04-21 15:09] #235 closed

[2017-04-21 18:46] tomzo opened #242 "CLI ignores generate-types-with parameter"
I just tried running `2.0.0`, the generated model types are never annotated with anything. Regardless of `-g jackson` parameter I pass.
I think there was a bug introduced in this commit https://github.com/mulesoft-labs/raml-for-jax-rs/commit/0d6e4a9a7eb476d1bbc0fb8d9450456073651abf

Shouldn't something like `configuration.setJsonMapper` be called somewhere around [here](https://github.com/mulesoft

[2017-04-22 20:00] jpbelang commented on #231
Yes it can, looking into it.

[2017-04-25 22:57] sichvoge commented on #234
Maybe we can reserve some special character for these cases?

[2017-04-26 15:54] adjokic commented on #234
what I did was replace all occurrences of `propertyInfo.getName()` in SimpleInheritanceExtension.java with `propertyInfoName` and append "_property":
[code]
This is using `javax.lang.model.SourceVersion.isName()`, which contains a set of Java reserved words.
I can create a PR showing these changes, thought it's not in its most elegant form. Perhaps we can add a method to `PropertyInfo` instead, e.

[2017-04-26 16:49] jstoiko commented on #234
Thanks for sharing this.

please do! it would be very useful.

[2017-04-27 00:13] jstoiko opened #243 "`type: array` with no `items:` defined does not generate proper `List<...>` entity"
either

[code]

or:

[code]

[2017-04-27 11:13] vijayrcse opened #244 "Client ( RESTful service consumer ) usage of codegen - raml-to-jaxrs"
Hi
We have a service implementation and RAML spec for that.

Can we give the RAML spec to our Client ( RESTful service consumer )  and ask them to use "raml-to-jaxrs" code gen ?

What is the best guideline here for the client code generation ?

[2017-04-27 17:31] jstoiko opened #245 "support for mixin inheritance"

[2017-04-27 17:34] jstoiko opened #246 "`types` is at the bottom of the outputted RAML"
Although it is valid RAML, it would be preferable to have it before any resource definition

[2017-04-27 17:41] jstoiko commented on #244
@vijayrcse: is this version

[2017-05-01 14:01] marcoaltieri opened #248 "The visibility of properties in SimpleJacksonTypes is not consistent with Jacksons' annotations."
When serialising/de-serialising an object using Jackson, the visibility of properties and methods depends on several annotations and a configurable default visibility.
The class SimpleJacksonTypes shows properties only based on the annotation @JsonProperty: if the annotation is not there, the property is ignored.
This is not consistent with the behaviour of Jackson and as a consequence, the .raml

[2017-05-01 14:19] marcoaltieri opened #249 "Jackson's custom serializers and raml types"
Because Jackson allows to use custom serializers, when a custom serializer is used, it is necessary to customise also how the raml type are produced by the jax-rs-to-raml tools.

Is it possible to add in the class SimpleJacksonTypes a way to reuse the annotation @JsonSerialize to customise the raml type ?
The class specified in this annotation, for example, could implement another interface that w

[2017-05-02 15:19] KevinMitchell opened #250 "Generating Jackson Annotations for RAML 1.0 types"
Hi,
I'm trying to use raml-to-jaxrs with a RAML 1.0 spec with RAML 1.0 types.  The POJOs for the types are generated OK.  But they don't have any Jackson annotations attached to them.  Is this a configuration problem on my side, or are these annotations currently only generated if I start with Json schemas for the types, rather than RAML types?

The configuration part of my pom.xml file looks like

[2017-05-02 20:34] jstoiko commented on #250
Hi @KevinMitchell, are you using the CLI or the Maven Plugin? For the CLI, there is an [optional `-g` argument that needs to be passed](https://github.com/mulesoft-labs/raml-for-jax-rs/blob/master/raml-to-jaxrs/README.md#using-the-cli). For the Maven plugin, it's the [`<generateTypesWith>` option in your POM](https://github.com/mulesoft-labs/raml-for-jax-rs/blob/master/raml-to-jaxrs/examples/maven

[2017-05-03 10:10] KevinMitchell commented on #250
Thanks for the hint.  The option, plus upgrading to the latest version, produced the annotations.

Thanks.

[2017-05-03 10:10] #250 closed

[2017-05-03 15:12] ymamakis commented on #203
Hello, I was wondering whether it still applies for the 2.0.x version of jaxrs-to-raml as I seem to be having exactly the same issue with jaxrs Response in the jaxrs-to-raml-maven-plugin

[2017-05-04 10:34] frl7082 opened #251 "Schema references lead to "URI is not absolute" Exception"
In the old version, one could reference a JSON schema from within another schema using the name, defined in the RAML "schemas" section.
When trying the same approach now, the generation leads to an exception:

[code]

The RAML:

[code]

A.schema.json

[code]

B.schema.json

[code]

When I reference B using the direct path (e.g. `file:src/main/resources/raml/model/B.schema.json`) it works. However

[2017-05-05 17:56] jpbelang commented on #233
I've fixed this by allowing _variables_ to lead with an underscore.

[2017-05-06 02:44] #198 closed

[2017-05-08 08:39] dcrossleyau commented on #251
That seems closely related to [#202](https://github.com/mulesoft-labs/raml-for-jax-rs/issues/202#issuecomment-294425169)

[2017-05-08 14:59] adjokic commented on #234
@jstoiko looks like I won't be able to sign the MuleSoft Contributor Agreement Acceptance [API Notebook] because of the permissions it asks for on my github account -- sorry about that. I won't be able to create a PR after all, but please feel free to use the above as a baseline, if it helps at all.

[2017-05-08 17:18] sichvoge commented on #234
@adjokic can you let me know what the problem is with the signing process?

[2017-05-08 17:30] adjokic commented on #234
It asks to access my organizations in Github

[2017-05-08 17:38] sichvoge commented on #234
that's very common, to be honest. not something you should be afraid about. but of course, it is absolutely your decision and either way is fine ;)

[2017-05-08 20:40] b0bd opened #252 "Missing intermediate paths"
Using the following raml snippet with 2.0.1-SNAPSHOT I get "/Attachments" in the generated class instead of "{viewingSessionId}/Attachments": Playing with the RAML it seems I'm only getting the first part of the URL on the interface class and the final part on the method, but the intermediate parts are dropped.

raml fragment:
[code]

generated java fragment:

[code]

[2017-05-09 14:01] jpbelang commented on #234
Variable names are now protected from being java keywords:  I add  "Property" to java keywords (classProperty) for example.  I dropped the "_" to stay compliant to the java naming conventions and help people using sonar.

I also want to do a plugin to allow for a general strategy.

PS:  having trouble committing.  Should be solved soon.

PPS: Thanks @adjokic :  hadn't seen the SourceVersion stuff.

[2017-05-10 02:04] jpbelang commented on #231
It's been fixed.  I've added a check in the type-torture-test (which I'll push  as soon as I get my permissions back).

Tell me if it works.

[2017-05-10 04:18] vijayrcse commented on #231
sure will test today and let you know

[2017-05-11 14:23] KevinMitchell commented on #252
We've got the same problem, and it's show-stopper for us.  We are exposing the wrong paths and have no access to the URI parameter.  Is this a problem with just the latest release, and downgrading to an earlier release will fix it.  Or has this always been broken?  Is there an ETA for a fix?

[2017-05-12 01:03] jpbelang commented on #252
Looking at it.

[2017-05-12 01:24] jpbelang commented on #252
Seems I don't check the "intermediate paths" correctly.
I'm working on something, but in the meantime, could you

[code]

[2017-05-12 02:32] jpbelang commented on #252
Just pushed a fix, with a UT and added to the torture test.

Feedback por favor ?

[2017-05-12 06:56] KevinMitchell commented on #252
Still not quite right.  Suppose I define
[code]
The tool generates
[code]
So the method `getAC` is missing the URI parameter.

[2017-05-12 10:21] frl7082 opened #253 "Schema extensions lead to NullPointerException"
Let's face this imple RAML schema:

[code]

And the json schemas:

A.schema.json

[code]

B.schema.json

[code]

A `NullPointerException` is thrown, when generationg the Java classes:

[code]

[2017-05-12 10:36] jpbelang commented on #252
I'll look at it today.  I thought the parser would handle stuff like this...

[2017-05-12 11:30] KevinMitchell commented on #252
But you are generating the declaration of getAC aren't you?  And presumably what you generate for that needs to include the declaration of `@PathParam("b") Integer b)` as arguments.  The parser just provides the model, so you can access the URI/path parameters from it.

Are you also planning on allowing the methods to return an instance of `Response` rather than just `void`?

[2017-05-12 12:54] jpbelang commented on #252
@KevinMitchell Yes, but it does some things to help you, and not others:  I'll have to go fetch PathParams from the parent resources.

As to the second question, I'm not sure I get what you are saying:  we do return a response.  Which case are you talking about ?

[2017-05-12 13:42] KevinMitchell commented on #252
Yes, you are correct.  It was me getting confused on this occasion.  I tried to make the example as simple as possible, but it ended up being too simple, had left out the response code, and so you quite correctly didn't generate anything.  So ignore that bit :-)

So it's just the path param we are missing.

Thanks,
Kevin

[2017-05-13 19:33] jpbelang commented on #252
Check again when you have time please.

[2017-05-15 13:41] KevinMitchell commented on #252
That looks better.  Thanks for the prompt response.

[2017-05-15 13:45] jpbelang commented on #252
Good.  Closing.   If something else comes up, ping!

[2017-05-15 13:48] KevinMitchell opened #254 "Wrong generated type for enum references"
The code generator seems to construct the wrong type for enum references.

Consider this example:
[code]
This results in the following code being generated:
[code]
The variable `frequency` should be declared to have type TestFrequency not Frequency.

[2017-05-15 14:46] jpbelang commented on #239
Fred doing the jaxrs-to-raml half.  I'll be copying knowledge gained :-)

[2017-05-16 16:19] adjokic commented on #234
thanks @jpbelang
this works for me now. should I close the ticket or do you have a separate process for reviews?

[2017-05-16 16:24] jstoiko commented on #234
thanks @adjokic you can leave this open for now

[2017-05-17 10:11] adjokic opened #255 "Primitive types not usable in arrays"
Hello,
I was defining a simple object type which contains an integer[]:
[code]
which results in an exception from the JavaPoet library:
[code]

the solution is very simple by changing the following in V10GTypeArray.defaultJavaTypeName():
[code]
we need to box any potential primitive which we want to use as a parameter type in a List.

I haven't tested this fully, but I think we'd still need to wri

[2017-05-17 19:03] kumaranae opened #256 "RuntimeException with Unknown type"
Hi Team,

Am getting the below RuntimeException when i tried with jaxrs-to-raml-maven-plugin for Jaxrs to RAML conversion. We are using Enum named SyncType as QueryParam.

Caused by: java.lang.RuntimeException: unknown type: class com.aek.nbi.api.SyncType
        at org.raml.api.RamlTypes.fromType(RamlTypes.java:33)
        at org.raml.jaxrs.emitters.ParameterEmitter.emit(ParameterEmitter.java:44)

[2017-05-19 00:33] jpbelang commented on #229
Iv'e fixed this, but it currently requires the user to register a ParameterConverterProvider in jaxrs, as types are currently interfaces right now (so we can't add a  static method to it.

[2017-05-19 00:35] jpbelang commented on #255
I'm looking into it.  I suspect something stupid (on my part)

[2017-05-19 00:36] jpbelang commented on #256
I have a pull request that I suspect fixes this.  I'll check this on the weekend.

[2017-05-19 12:05] jpbelang commented on #255
Not as stupid as I thought, but stupid nonetheless.  Fix incoming tonight.

[2017-05-19 16:20] KevinMitchell opened #257 "Support for partial updates using PATCH"
When using PATCH for partial updates (rfc7386) null values in the JSON are used to indicate that an existing value should be removed.  However, for this to work our POJOs have to be able to distinguish between properties that are null because they haven't been initialised, and those that have been explicitly set to null.  Serializers should be able to use this information when building the JSON, a

[2017-05-19 18:41] kumaranae opened #258 "RAML validation fails with ":" in description"
Hi Team,

we have a JaxRS API with documentation that contains ":" in it, like "HH:MM:SS". Once we generated a RAML file using Maven plugin, i tried to validate the RAML file using online validation tools. Its fails saying error as below,

Underlying error while parsing YAML syntax: 'mapping values are not allowed here in 'reader', line 126, column 41: ... description: cancels the job: stops the j

[2017-05-19 19:04] jpbelang commented on #257
Are you thinking along the lines of @JsonInclude ?

[2017-05-19 19:05] jpbelang commented on #258
Ok, know where that is.  Will fix in the week-end.

[2017-05-19 19:15] KevinMitchell commented on #257
With @JsonInclude I thought you could only choose between whether to transmit null values or to skip them.  Whereas to support merge patch it needs to be more refined that that.  You only want to transmit a null property if it's been explicitly set to null.  And similarly when working with a POJO that's been built from a JSON object you need to be able to distinguish between a null property that w

[2017-05-19 19:23] jpbelang commented on #257
Yeah.  Thinking like a ramltojaxrs that could allow that, because you would need a custom serializer, correct ?  The default serializer does not do that, so maybe with something like @JsonSerialize ?  (you are correct on @JsonInclude)

So I would need something to skip the "normal" jackson2 annotating and delegating to another plugin.

[2017-05-19 21:49] KevinMitchell commented on #257
Yes, you'd need a custom serialiser (and deserialiser) driven by whatever mechanism was used to track the explicit nulls.  Plus modified setters and a method(s) for checking whether something was explicitly set to null.  It's all very tedious to write manually, but ideal for mechanical generation.

[2017-05-19 22:14] jpbelang commented on #258
I did a fairly narrow fix:  if a line ends with a ":", I quote.  Is this your use case ?

[2017-05-19 22:28] kumaranae commented on #258
Below snippet from my RAML,

/firmwareUpgradeBatch/{batchName}/cancel:
        post:
            description: cancels the job: stops the job's execution and sets its status to canceled

[2017-05-19 22:34] kumaranae opened #259 "Regular expression in @PATH fails"
Hi Team,

Below my scenario where the @PATH as regular expression in it.

/household/{householdId}/devices/{devicesIds:.+}

Its perfectly converted into the RAML file. But when i tried to validate, it throws error in this path saying invalid syntax.
Do we need to update this regular expression?

[2017-05-19 23:54] jpbelang commented on #258
My mistake:  it's not just ending.  it's ": ".  I'll make it more general.

Thanks.

[2017-05-20 01:25] jpbelang commented on #258
Try it again.  Thanks for your input, BTW.

[2017-05-20 03:05] jpbelang commented on #255
Fixed, please check.

I didn't box the types in array types. And my only scalar test was on the raml string type.

[2017-05-20 03:09] jpbelang commented on #257
I agree.  A bit more complicated though.  I'll keep you posted.  This WE, I'm closing simpler problems.  I'll see where I get to.

[2017-05-20 03:23] #252 closed

[2017-05-20 03:49] jpbelang commented on #259
What do you mean by "validate" ?  It parses correctly, correct ?

RAML uses ECMA regexp, and java doesn't :-)

[2017-05-20 06:29] KevinMitchell commented on #257
Thanks for considering this request.

If you are looking for simpler problems #254 will hopefully involve a one-line fix :-)

[2017-05-22 13:32] jpbelang commented on #254
Fixed.  I really don't like my type management....

[2017-05-22 18:31] kumaranae commented on #258
Hi.

This changed worked as expected. thanks for your quick response. Please let me know once you merged it.

[2017-05-22 18:36] kumaranae commented on #259
Am using an online RAML parsing tool https://studio.restlet.com for parsing and validating. It throws error saying invalid syntax. please correct me if am wrong. attaching screenshot for your reference.
<img width="1436" alt="screen shot 2017-05-22 at 11 34 48 am" src="https://cloud.githubusercontent.com/assets/5084408/26323207/d72d8462-3ee2-11e7-8b68-fd650bf17a53.png">

[2017-05-22 20:04] jpbelang commented on #256
I've done a quick fix:  QueryParameters did not support objects.  Now they do (I think):  I need to check properly, but I've checked Enums on QueryParameters.  I still need to check HeaderParams and PathParams.  Could you check this, though ?

[2017-05-22 20:05] jpbelang commented on #258
It should be merged end of May (for 2.0.1).

[2017-05-22 21:51] KevinMitchell commented on #254
Thanks.  I'll try it out.  And I share your pain about type management; I've made similar mistakes in the past :-)

[2017-05-23 00:06] kumaranae opened #260 "NPE when @Provider used in class"
Hi Team,

When we use @Provider annotation with a class like below, it throws NPE.

@Provider
public class GeneralExceptionMapper implements ExceptionMapper<Exception> {
// Some implementation
}

and the exception thrown is below,

org.apache.maven.lifecycle.LifecycleExecutionException: Failed to execute goal org.raml:jaxrs-to-raml-maven-plugin:2.0.1-SNAPSHOT:jaxrstoraml (default) on project prime

[2017-05-23 15:59] adjokic commented on #255
just tested it and it is working for me. thank you!

[2017-05-23 16:20] AndreasZaschka commented on #260
same on version 2.0.0

[2017-05-23 17:07] jpbelang commented on #260
I have a guy on this :-)  Fix incoming today, unless it's something major.

[2017-05-24 10:29] adjokic opened #261 "Deserializer not referenced properly on internal class"
Hello,
The generated Java code for RAML types having nested objects does not seem to be done properly.
We can use one of the existing RAML files as an example: /raml-to-jaxrs/jaxrs-code-generator/src/test/resources/org/raml/jaxrs/generator/v10/extendObject.raml

which generates two files:
ObjectOne and ObjectOneImpl. The former looks like the following:
[code]

The problem here is that NameTypeImp

[2017-05-24 10:37] adjokic opened #262 "UnionDeserializationGenerator creates inconsistent "looksLike" method names"
Hello,
when a typeDeclaration.name() starts with a lowercase letter, the generated "looksLike" method name is transformed in `UnionDeserializationGenerator.buildLooksLike()` to camel case with the call `Names.methodName("looksLike", typeDeclaration.name());`

However, when generating the code that calls the "looksLike" methods, it is not transformed into camel case. I fixed this by changing UnionD

[2017-05-24 11:51] jvenki opened #263 "JAX RS Codegen is not generating the setter for AdditionalProperties"
I am using RAML 1.0 and using 2.0.0 version of the Maven Plugin to generate JAXRS code from the RAML files. Looks like the code gen is not honouring the definition of https://github.com/raml-org/raml-spec/blob/master/versions/raml-10/raml-10.md#additional-properties. I dont see the generated Java files to have anything related to Additional Properties which used to happen with RAML 0.8 and 1.3.4 o

[2017-05-24 13:52] jpbelang commented on #263
The problem I have with additional properties is that it translates badly to XML (or other formats).  JSON, sure:  1.3 got that in jsonschema2pojo.

We replicate that (I'm pretty sure) when you generate JSON objects.

[2017-05-24 13:54] jpbelang commented on #261
Ah, dude! :-)  You always bring up complicated stuff :-)

You are correct.  I'll look into doing it.  Can't before tomorrow though.

[2017-05-24 13:55] jpbelang commented on #262
Thanks:  tomorrow, i'll apply your fix.

[2017-05-24 14:00] adjokic commented on #261
haha. apologies. please forgive me :)

[2017-05-24 14:05] jpbelang commented on #261
There are, however, limitations to what we can do with unions in java, I think.  This isn't one of those cases, I think.

Unions aren't all that natural to static typing languages.

[2017-05-24 14:59] adjokic commented on #261
true. aside from composition, I can't think of any other way to deal with unions.
Once we get this (actually the other ticket #262) to work, I think unions should work nicely.

Not sure if it's worth checking into using generics as a way of composition.

[2017-05-25 00:28] jpbelang commented on #260
PLease check ?

[2017-05-25 06:20] kumaranae commented on #260
It worked for me. thanks.

[2017-05-26 13:47] jvenki commented on #263
If I use jsonMapper as Jackson2 alone, it is not generating anything. However, if I set generateTypesWith as jackson, then it generates the additionalProperties related logic.

                  <jsonMapper>jackson2</jsonMapper>
                    <generateTypesWith>
                        <param>jackson</param>
                    </generateTypesWith>

[2017-05-26 13:49] jvenki commented on #263
I am curious to understand on why we generate the *interfaces* for Model Classes. What is the value add. I understand the value of *design to interfaces*, but what is the great value add of generating interfaces for the model classes? If we are doing it, shouldnt the codegen automatically generate it with Jackson annotations too without the need for generateTypesWith. Otherwise, the deserializatio

[2017-05-26 13:55] jpbelang commented on #263
@jvenki Multiple inheritance, basically.  There are two ways to do this:  with interfaces or some sort of mixin support.  If you aren't using MI, then I agree that his is overhead.  On a positive note,  mixins, simple inheritance (and even no inheritance) are planned.

Also, REST apis also can support other formats:  gson, jackson, xml....

[2017-05-26 14:12] jvenki commented on #263
Super. Eagerly waiting for those configurations so that I can disable them. Thanks for your help. Closing this.

[2017-05-26 14:12] #263 closed

[2017-05-26 14:21] jvenki opened #264 "Duplicate Definitions added to the Resource Interface if there are multiple end points with the same return type"
Thanks for your great support in creating the JAX RS code generations for RAML.

If I have two end points for an API and both the end points returns the same type of resource, the codegen creates two Response Type classes of the same name and thus the Java code is invalid.

We generally have an API (A_ID) to get by ID and this always returns a single resource of type (T1). Because of some reason,

[2017-05-26 14:30] jpbelang commented on #264
I think I understand this.  Could you give me an example of your RAML so that I add it to our testing ?  This sounds like a bug.  just so I understand, two methods in one java file that return the same response code (200, I imagine), and ramlforjaxrs generates two identical classes for the response type.  Correct ?

Maybe a quick workaround:  every top resource generates a separate java file.  Cou

[2017-05-26 21:44] jpbelang commented on #264
Something like this ?
[code]

[2017-05-28 09:09] haba713 opened #265 "NullPointerException with a certain RAML"
raml-to-jaxrs-cli throws NullPointerException when I try to generate JAX-RS classes from [this RAML](https://smartship.unifaun.com/rs-extapi/v1/documentation/root-resource-v1.raml) which is downloaded with all the schema files into directory src/main/raml.

[code]

I've tested with [2.0.0](https://github.com/mulesoft-labs/raml-for-jax-rs/releases/tag/2.0.0) and HEAD.

[2017-05-28 11:23] jpbelang commented on #265
Could you provide a whole example with the problem please ?

[2017-05-28 14:44] jpbelang commented on #261
Pushed something (not complete) that should fix your issue.

[2017-05-29 13:50] haba713 commented on #265
Do you mean steps to reproduce the issue? They're here:

1. Clone and compile [raml-for-jax-rs 2.0.0](https://github.com/mulesoft-labs/raml-for-jax-rs/releases/tag/2.0.0).
2. Copy https://smartship.unifaun.com/rs-extapi/v1/documentation/root-resource-v1.raml into src/raml
3. Create output directory src/java
4. Execute org.raml.jaxrs.ramltojaxrs.Main with the following arguments:
`-d src/java src/r

[2017-05-29 13:54] jpbelang commented on #265
yeah, send everything, like in a zip file.  It'll save me some time.

Thanks.

[2017-05-29 20:39] jpbelang commented on #242
Sorry, missed your report.  Fixed.  Just bad parsing.

[2017-05-30 03:06] jpbelang commented on #226
I think the twist was fixed.  Could you check ?

[2017-05-31 11:15] vijayrcse opened #266 "General question on JAX_RS code gen for RAML 1.0 spec"
Hi All,

Would like to understand what is the stable release for this tool that we can use ?( is it 2.0.0-RC1)

When does the next stable release cut is expected ?

How much of RAML 1.0 support is covered   ? Can we depend on this tool for generating JAX-RS code based on RAML 1.0 API contracts ?

Thanks
-Vijay

[2017-05-31 12:12] TheOneAndOnlyAndreKempe opened #267 "Patterns of created java classes ß how does it work??"
Hej guys,

I'm trying to understand the raml-for-jax-rs example projects and building an own sample projects. At this I ran into an issue with the patterns used in the created java implementation which can also be seen in the example projects (simple-json-example vs type-torture-test).

What I'm basically trying to achive is create the API for an WildflySwarm-Application from RAML.

With this RAML

[2017-05-31 14:24] jpbelang commented on #266
Hi,
The current stable release 2.0.0 is on master.  2.0.1 branch is bugfixes and a few features.  It should be released beginning of June.

The objective is to cover as much as possible of 1.0, so anything you might find that isn't done you could mention.  Right now, we have basic types, objects and basic inheritance.  Unions are a work in progress:  the basics are there.  Inheriting from arrays i

[2017-05-31 14:30] jpbelang commented on #267
To get jackson annotations, you need to require them.  Are you using maven or the command line ?

On the command line, -e jackson will add annotations to raml data types.

Maven example here:
https://github.com/mulesoft-labs/raml-for-jax-rs/tree/master/raml-to-jaxrs/examples/maven-examples

[2017-05-31 14:31] jpbelang commented on #267
FYI, the "good" example works because jsonschema is delegated to jsonschema2pojo, which generates json objects (for jackson by default).

[2017-05-31 18:43] kumaranae commented on #258
Hi,

Where can i find this fix?

[2017-05-31 18:51] jpbelang commented on #258
Right now only in 2.0.1 branch.

[2017-06-01 00:14] kumaranae opened #268 "Do we support RAML 0.8?"
Hi Team,

Do we support RAML 0.8?

Do help me by sharing any document which talks about the RAML 0.8 support.

[2017-06-01 06:05] TheOneAndOnlyAndreKempe commented on #267
Hej JP,

I'm using Maven for that project. I included the generator using the follwoing plugin-section in pom.xml

`<plugin>
                <groupId>org.raml</groupId>
                <artifactId>raml-to-jaxrs-maven-plugin</artifactId>
                <version>2.0.0</version>
                <configuration>
                    <ramlFile>example_json_schema.raml</ramlFile>
                    <res

[2017-06-01 08:11] sichvoge commented on #268
Did you try to use RAML 0.8? It is supported.

[2017-06-01 08:17] kumaranae commented on #268
Am trying to make use of Maven plugin to generate RAML during build time. I could see it creates RAML 1.0. How to make it to generate RAML 0.8 ?

[2017-06-01 11:56] jpbelang commented on #268
the to-raml side only generates 1.0

[2017-06-01 12:00] jpbelang commented on #267
[code]

The important part is the **generateTypesWith* part.

[2017-06-01 13:24] vijayrcse commented on #266
Thanks a lot for the response. this helps

[2017-06-01 17:52] kumaranae opened #269 "ClassCastException with recent changes"
Hi Team,

I have patched the changes did for the issue "RuntimeException with Unknown type #256"

Then am getting the below exception,

Caused by: java.lang.ClassCastException: sun.reflect.generics.reflectiveObjects.ParameterizedTypeImpl cannot be cast to java.lang.Class
        at org.raml.emitter.IndentedAppendableEmitter.pickTypeHandler(IndentedAppendableEmitter.java:243)
        at org.raml.em

[2017-06-01 18:04] jpbelang commented on #269
I know what this is, it think:

It's related to #247. To pick up the annotation from a type, it needs to be a Class.  We just need an instanceof test.  This was done for one case here:

jaxrs-to-raml/jaxrs-parser/src/main/java/org/raml/jaxrs/parser/model/JerseyJaxRsEntity.java

You could emergency fix it the same way.  I'll fix this tonight.

[2017-06-01 18:26] kumaranae commented on #269
I tried but still hitting the same issue. Can you please fix it tonight and share the fix.

Thanks for your quick response and fixes. I really appreciate it.

[2017-06-01 21:21] jpbelang commented on #269
I've pushed a quick fix.  If this works for you, I'll make a general fix.

[2017-06-01 21:48] jpbelang commented on #243
Please review.  It should be understood that this now generated List<Object>, which, from a serialization/de-serialization point of view is....iffy in java.

[2017-06-01 22:36] kumaranae commented on #269
Now it throws on the below,

Number of foreign imports: 1
import: Entry[import  from realm ClassRealm[maven.api, parent: null]]

-----------------------------------------------------

        at org.apache.maven.plugin.DefaultBuildPluginManager.executeMojo(DefaultBuildPluginManager.java:196)
        at org.apache.maven.lifecycle.internal.MojoExecutor.execute(MojoExecutor.java:207)
        ... 20 m

[2017-06-01 23:47] jpbelang commented on #269
Ok:  I went all over the code to cast stuff through a function.
ParameterizedType -> Raw Type
TypeVariable -> Exception.

[2017-06-02 00:12] kumaranae commented on #269
It worked like a charm... thanks a ton. I really appreciate it.

[2017-06-02 06:18] TheOneAndOnlyAndreKempe commented on #267
Argh, thats exactly the part that i missed!

I added the respective entry to the pom.xml, switched over to the "bad" example and it worked without any further problems!

Thank you very much for your help and support!!

Cheers,
André

[2017-06-02 20:23] kumaranae opened #270 "2.0.1 snapshot in snaphots repository"
Hi Team,

Can you please deploy the 2.0.1-snapshots into the below maven repository,

https://repository-master.mulesoft.org/snapshots/ - snaphots repository

Please include the below fixes into the snapshot, since we need those for our release at the earliest.

ClassCastException with recent changes
NPE when @Provider used in class
RAML validation fails with ":" in description
RuntimeException wi

[2017-06-05 10:00] giacgbj commented on #251
What about this issue?
I can't find a way to define the refs which works both using the plugin and api-workbench for Atom.

[2017-06-05 11:25] jpbelang commented on #251
Sorry, slipped through the cracks.  I'll look into it and see if we can do something tonight.

[2017-06-05 22:57] giacgbj commented on #264
Same error using:

[code]

The result is
[code]

[2017-06-06 21:40] wied03 opened #271 "Query parameter types are referenced but not generated"
If I try and run the Maven plugin with the RAML below, the JAXRS generated interface references the `SourceSystem` and `DestinationType` query parameters properly but it does not create ENUMs for them so the generated code does not compile.

[code]

[code]
pom.xml
[code]

Command:
[code]

Output:
[code]

[2017-06-06 21:42] jpbelang commented on #271
Are you using the 2.0.1 branch ?

[2017-06-06 21:49] wied03 commented on #271
Tried in both 2.0.1-SNAPSHOT and 2.0.0 with the same effect

[2017-06-07 00:30] wied03 commented on #271
I built a snapshot today off of it yes.

sent from my mobile device

On Jun 6, 2017 4:42 PM, "JP Belanger" <notifications@github.com> wrote:

[2017-06-07 13:12] rriedel commented on #216
Any news on this?

I'm getting the same error, with the difference that the classes ARE in the modules dependencies. Btw, I'm using version 2.0.0.

[2017-06-08 15:58] wied03 commented on #271
Ran it against 25969ab751d46e1992198c8c9cf2a9833a136109 today just to be sure and had the same problem (documented exact POM and error above)

[2017-06-09 09:13] giacgbj commented on #251
@jpbelang In your solution, please consider that the workaround suggested by @frl7082 doesn't work if you have a multi-module Maven project if you run the build from the parent instead of the module which uses this plugin.

When do you expect to release a version which solves this issue?

[2017-06-09 15:25] jpbelang commented on #271
We're releasing 2.0.1 soon.  That's the work you are seeing. :-)

You gave a pretty good example.  I'll get back to you soon. (soon == +/- the weekend :-) )

[2017-06-09 16:30] wied03 commented on #271
If I supply a type explicitly like below, it seems to assume the type of the query parameter is the same as the name of the query parameter:

RAML:
[code]

Generated code looks like this:
[code]

[2017-06-11 19:24] jpbelang commented on #271
I've pushed a trial of a fix for this.  Can you check it ?

[2017-06-11 19:25] jpbelang opened #272 "Write better testing for #271"
UTs in the type finder are so-so.

[2017-06-11 19:26] #267 closed

[2017-06-12 17:03] vijayrcse opened #273 "Customizing the class name or method name"
Hi

We used below extension to customize a method name in RAML 0.8 code gen plugin

<extensions> <extension>org.raml.jaxrs.codegen.core.ext.ResourceDisplayNameBasedMethodNameBuilder</extension>
</extensions>

But we could not use this for the RAML 1.0 code gen plugin ( RAML to JAX RS )

Could you please advise if this support can be added back ?

[2017-06-13 01:02] jpbelang commented on #251
I've had a look.
We delegate all or the json schema stuff to jsonschema2pojo.  The difficulty is that j2p resolves the $refs by itself.

https://github.com/joelittlejohn/jsonschema2pojo/wiki/Reference#ref

I think the only solution would be to use classpath: or one of the other synonyms.  I'm currently having problems adjusting the classpath in the maven plugin.

[2017-06-13 03:12] vijayrcse opened #274 "When will 2.0.1 will be released ?"
Hi
Could you advise when 2.0.1 will be released. We are expecting some fixes from this version to be used

Thanks & Regards
-Vijay

[2017-06-13 03:22] jstoiko commented on #274
it should be out by end of this week. thanks for your patience!

[2017-06-13 04:43] vijayrcse commented on #274
Thanks jstoiko for the update

[2017-06-13 13:22] YangYangX opened #277 "How to use raml-2-jaxrs maven plugin to map type in raml file to Model interface in Java"
Hi,

I am trying to using raml-to-jaxrs-maven-plugin[2.0.0] to convert raml file into java classes, everything thing works well until it comes to "POST" request, I got a error:
com.fasterxml.jackson.databind.JsonMappingException: abstract types either need to be mapped to concrete types, have custom deserializer, or contain additional type information

And I found in one of the Model class, Produc

[2017-06-13 13:27] jpbelang commented on #277
Check the examples (the raml types one, sorry working from memory).  There is a generateTypesFor tag.  put jackson in there.

Check issue #267

PS:  I really should fail on some of these situations.  :-/

[2017-06-13 13:36] jpbelang commented on #273
Yes you can!
There is a plugin (a bit experimental) in the code that allows for all sorts of stuff.

That said, I'd like to build a rename plugin for y'all.  Liek I said, it's a bit experimental, but if you want to look at it, some examples here:

https://github.com/mulesoft-labs/raml-for-jax-rs/tree/master/raml-to-jaxrs/examples/maven-examples/features/feature-plugins/src/main/java/org/raml/jaxrs

[2017-06-13 13:37] jpbelang commented on #273
It uses RAML annotations, BTW.

[2017-06-13 13:47] YangYangX commented on #277
Thanks a lot!! It works now!!

[2017-06-13 13:47] #277 closed

[2017-06-13 20:56] wied03 commented on #271
It's generating a type now (in the types package) but doesn't import the type, so still fails.

[2017-06-13 20:56] wied03 commented on #271
Thanks for the quick commit though!

[2017-06-14 01:09] ming2377 opened #278 "Support creating all @QueryParam for multiple traits"
Currently, I have:
traits:
  **paging**:
    queryParameters:
      pageNumber:
        ...
      pageSize:
        ...
      limit:
        ...
  **partial**:
    queryParameters:
      fields:
        ...

/firmware:
  get:
    is: [traits.**paging**, traits.**partial**]

raml-to-jaxrs-maven-plugin generates followings:

GetFirmwareResponse getFirmware(@QueryParam("pageNumber") Integer pageNumbe

[2017-06-14 04:54] vijayrcse commented on #273
yep thanks a lot. I was also looking into this features example. will give a try

[2017-06-14 04:54] #273 closed

[2017-06-14 06:33] giacgbj opened #279 "Multiple ramlFiles"
According to [RamlJaxrsCodegenMojo.java](https://github.com/mulesoft-labs/raml-for-jax-rs/blob/821cc8864a690864e226a3465e49e27163fe8954/raml-to-jaxrs/raml-to-jaxrs-maven-plugin/src/main/java/org/raml/jaxrs/codegen/maven/RamlJaxrsCodegenMojo.java):

[code]

However, it doesn't handle multiple locations.

[2017-06-14 09:24] giacgbj opened #280 "Form parameters support"
Are form parameters supported using RAML 1.0 from RAML to Java?

For example
[code]

[2017-06-16 06:43] ankitabankbazaar opened #281 "Raml response code is not taking headers from raml file"
/tiny:
   /{id}:
       uriParameters:
           id:
               type: string
       post:
           responses:
               302:
               headers:
                   Location:
                       description: Redirected Location

When I ran Code Generator...
it didnt do anything to the header

The generated code was

public static PostTinyByIdResponse respond302() {
Response.Respo

[2017-06-16 10:24] vijayrcse commented on #274
just curious, is the release is out for 2.0.1 ?
Can we have at least an RC ?( we don;t want to rely on snapshot )

[2017-06-16 10:33] vijayrcse commented on #231
tested in snapshot. working fine

[2017-06-17 23:02] jpbelang commented on #271
Ok.  I've fixed this.  I have a hangup though.  Within types, I create raml inline types as internal java types.  In resources, I create normal java types.  Not sure whether I should unifiy the approaches.

Just curious, do you have opinions ?

[2017-06-18 00:25] wied03 commented on #271
In the WSDL/CXF world (if I remember right), they seem to have settled on complexTypes being in their own file and not in some class.

If I extrapolate that to here, to me types that are defined with a name should be in their own class. If someone defines a type as an ENUM/object/etc. without a name, it logically seems more like an internal class to me (more along the lines of an XSD element witho

[2017-06-18 13:41] jpbelang commented on #264
@giacgbj You don't seem to have a URI parameter even though you seem to have one in the URI.  If you add the parameter, it should work.

[2017-06-18 14:20] jpbelang commented on #278
This may be a bug in the parser.  I think the processing application (i.e. the parser) should add these.  I do nothing explicitly with traits.

I've updated the version of the parser to 1.0.9 (the latest release).

@jstoiko should we send this over to the parser ?

[2017-06-18 14:54] jpbelang commented on #280
Not right now.  I'm working on it.  This would lead to @FormParam being added to the method signature.

[2017-06-19 07:52] giacgbj commented on #264
@jpbelang But I don't need a parameter.
The calls are:
* a POST to /foo
* a POST to /foo/{bar}

[2017-06-19 12:23] jpbelang commented on #264
I have a regular expression that explicitly removes these when there are no parameters.  I'll have a look at why I added this.

That being said, check out the jax-rs spec:  what you are doing seems to be incorrect (section 3.4) of http://download.oracle.com/otn-pub/jcp/jaxrs-2_0_rev_A-mrel-eval-spec/jsr339-jaxrs-2.0-final-spec.pdf?AuthParam=1497874622_0a269c3bcc89e105662be5e55675396c

`
Note: Beca

[2017-06-19 14:36] jpbelang commented on #281
Certainly doable.  I actually like this and hadn't thought of it. I'll try to get this in this week.  We are trying to release 2.1.  I'll do my best :-)

That said, couldn't you, in the implementation, set the location ?

[2017-06-19 18:27] jpbelang commented on #271
Thanks, I think we mostly agree.

As to a PR:  wait.  We may be writing an external package like RamlDatatypesToJava, sort of like jsonschema2pojo.  This would leaveonly the resource generation in here.

BTW, did my push fix your issue ?

[2017-06-19 18:38] jstoiko commented on #274
sorry this is taking longer than expected. we're still working out a few issues. one of them is related to deployment, hence why we don't have SNAPSHOTs published on the MuleSoft Nexus repository. I will keep you updated. Thanks for you patience.

[2017-06-19 19:22] jstoiko commented on #278
@jpbelang: yes. where you able to reproduce? if so, let's [file an issue](https://github.com/raml-org/raml-java-parser/issues).

[2017-06-19 19:24] jpbelang commented on #278
I'll build an example and file it.

[2017-06-20 10:17] vijayrcse commented on #274
Thanks for the update Jon. Please let us know once a release is pushed

[2017-06-21 01:37] ming2377 commented on #278
Sorry for the confustion, this only happens when I define the parameter as optional like:

traits:
  **paging**:
    queryParameters:
      pageNumber:
        ...
      pageSize:
        ...
      limit:
        ...
  **partial**:
    queryParameters:
      fields**?**:
        ...

[2017-06-21 01:49] ming2377 commented on #278
So I think this may not be a bug, however I feel even when a queryParameter is marked as optional like **fields?**, the generated method should still generate _@QueryParam("fields") string fields_

[2017-06-21 09:09] vijayrcse commented on #274
Hi Jon,
The main reason we are looking for 2.0.1 is for the below fix
https://github.com/mulesoft-labs/raml-for-jax-rs/issues/231

this is preventing us to use the maven plugin in pom.

Any eta for the release for 2.0.1 that you have in mind ?

Thanks
-Vijay

[2017-06-22 08:04] giacgbj commented on #264
@jpbelang I don't want to use curly braces in the URI, but that's the RAML 1.0 syntax.

My example is equivalent to https://github.com/raml-org/raml-spec/blob/master/versions/raml-10/raml-10.md#template-uris-and-uri-parameters where "foo" is "jobs" and "bar" is "jobId".

So I'd expect the class created would be PostFooResponse and PostFooBarResponse.

[2017-06-22 12:45] ankitabankbazaar commented on #281
@jpbelang I can't set location in implementation because getResponse is private to the class and there is no other option i am getting to set the location for response.

[2017-06-22 13:13] haba713 commented on #265
See the folder raml-to-jaxrs/examples/maven-examples/posti-smartship in [raml-for-jax-rs.zip](https://github.com/mulesoft-labs/raml-for-jax-rs/files/1094824/raml-for-jax-rs.zip)

[2017-06-23 18:37] wied03 commented on #271
The inlined types work. If I refer to a type outside the resource from the query params, the JAXRS interface references the right type (and the type is under the models package) but it doesn't import the type, so compilation fails.

[code]

DestinationSystem is what's not imported below.

[code]

[2017-06-26 11:04] fertroya commented on #104
Hi @KonstantinSviridov, is there a sample usage of custom annotations for JPA following the example above? I think it'd be a fairly common use case for this feature.

[2017-06-26 19:23] jpbelang commented on #281
@ankitabankbazaar I've got something to try.  I don't like the way the headers class is built. Is this long the lines of what you would like  ?

[2017-07-03 17:37] kumaranae opened #284 "jaxrs-raml-maven-plugin 1.3.4 throws NPE"
Hi Team,

we are using jaxrs-raml-maven-plugin 1.3.4 version, and when i try to compile the project it throws the below NPE. Please let me know if its possible to fix in this version.

Caused by: java.lang.NullPointerException
        at com.mulesoft.jaxrs.raml.annotation.model.ClassHierarchyVisitor.visit(ClassHierarchyVisitor.java:36)
        at com.mulesoft.jaxrs.raml.annotation.model.WrapperMet

[2017-07-04 07:31] tarteens opened #285 "v2.1.0 - Inline generation doesn't seems to be recursive"
Here the snippet for the raml, and the generated class
[inline.zip](https://github.com/mulesoft-labs/raml-for-jax-rs/files/1121233/inline.zip)

Using 2.1.0-SNAPSHOT

Hi,

I try to design some raml, without explicitly declaring each type of my properties.
Basically I have a root type "MyInlineObject" with a couple properties which 2 of them are declared inline.
The problem is that the auto-generate

[2017-07-12 06:12] #254 closed

[2017-07-12 06:12] #261 closed

[2017-07-12 06:12] #269 closed

[2017-07-12 06:13] #260 closed

[2017-07-12 06:13] #256 closed

[2017-07-12 06:13] #255 closed

[2017-07-12 06:14] #258 closed

[2017-07-12 06:14] #262 closed

[2017-07-12 06:15] jstoiko commented on #271
@jpbelang can you reproduce @wied03 last example? if so, let's move this to 2.1.1

[2017-07-12 06:17] #239 closed

[2017-07-12 06:18] #234 closed

[2017-07-12 06:18] #231 closed

[2017-07-12 06:19] #246 closed

[2017-07-12 06:20] #226 closed

[2017-07-12 06:21] #229 closed

[2017-07-12 06:22] #243 closed

[2017-07-12 06:22] #242 closed

[2017-07-12 06:25] jstoiko commented on #274
Hey @vijayrcse, the latest release is now 2.1.0. It's only on MuleSoft's nexus/maven repo at the moment but we are working on syncing it w/ Maven Central. Closing this issue.

[2017-07-12 06:25] #274 closed

[2017-07-12 06:37] jstoiko commented on #270
@kumaranae: 2.1.0-SNAPSHOT is now on https://repository-master.mulesoft.org/snapshots/ and 2.1.0 has been released so it's now also on https://repository-master.mulesoft.org/releases/

Please note that the groupId has changed from `org.raml` to `org.raml.jaxrs` so you'll need to update your POM file(s) accordingly.

The good news is that snapshots are now setup to automatically build & deploy to h

[2017-07-12 06:37] #270 closed

[2017-07-12 09:28] vijayrcse commented on #274
hey thanks a lot , we will test this. Thanks for the help

[2017-07-12 09:29] #266 closed

[2017-07-12 13:27] jpbelang commented on #271
I'll give it a shot tomorrow.

[2017-07-13 08:56] leflamm opened #286 "Created Enum types have private field "name" but no accessor"
Hi, we're using
[code]
to create resources from our raml definition. Problem is: all created Enum types have a private field `name` containing the actual enum value from the raml file, but there's no accessor for it.
[code]

[2017-07-13 15:20] jpbelang commented on #286
I'm curious as to why you need an accessor for the name, as it's equal to the enum value ?  it's mostly equal to enum.name().toLowerCase().

(You may quite rightly tell me it's non of my business, but I'm curious).

This said, tonight I'll see if I can show you how to make a plugin to generate the accessor.

[2017-07-13 20:10] leflamm commented on #286
:-)

1. A general remark: why put extra information (field `name`) into an Enum element if nobody can access it? Even my IDE (Eclipse in stock error/warning configuration) warns: "The value of the field `PriceType.name` is not used".

2. A specific example: Consider this generated Enum type.
[code]
If I want to serialize an element of this type with Jackson or something similar into JSON it will s

[2017-07-14 11:14] guwenqing opened #287 "Gradle plugin not in maven repository??"
I try to use the gradle plugin 2.1.0 but it is not found.
Same if I try to compile the example project.

[code]

[2017-07-14 14:27] mweirauch commented on #287
It should be -wrapper? See https://repository-master.mulesoft.org/nexus/content/repositories/releases/org/raml/jaxrs/jaxrs-to-raml-gradle-plugin-wrapper/

I just stumbled over the fact in a maven build that the groupId also changed from `org.raml` to `org.raml.jaxrs`.

[2017-07-14 17:14] guwenqing commented on #287
Wrapper does not work as well, it says the implementation file not found.

[2017-07-20 13:02] giacgbj opened #288 "MediaType application/octet-stream support"
The following RAML produces a class which uses the type ApplicationOctetStream without creating the class ApplicationOctetStream itself:
[code]
Is there anything wrong in the RAML or it isn't supported yet?

[2017-07-20 14:35] giacgbj opened #289 "Headers support"
It seems that headers are ignored. Are you going to support them?

[code]

[2017-07-21 08:43] ma-ver-ick opened #290 "MessageBodyWriter can't be found, because of ResponseDelegate"
Hi!

Using the ResponseDelegete seems to have problems with Payara 4.1.2.172 (jersey 2.25.1). Using the ResponseDelegate the jersey not able to find it's message body writer

However, when I use a non-generated rest endpoint without the ResponseDelegate in the same class works flawlessly.
I'm not 100% sure what causes this, maybe jersey uses internal methods to determine the type of the entity...

[2017-07-21 10:37] rreddy2014 commented on #244
Hi @vijayrcse , how did you solve this issues regarding Restful service consumer , I have the same issue .  I have a RAML 1.0(does not have Jsonschema insted data types ) spec and Would like to give it to  client to use it to generate client code .

THanks in advance

[2017-07-21 12:30] vijayrcse commented on #244
Hi rreddy2014
We used raml-to-jaxrs code gen. But for service consumer it is still unclear how the generated sources should be used.
For now the client take the RAML 1.0 spec, generate the sources but only use the model objects. We use JAX RS client API at service consumer

<jaxrs:client id="restClient"
       address="http://localhost:${testutil.ports.BookServerRestSoap}/test/services/rest"

[2017-07-21 12:41] ma-ver-ick commented on #290
After stepping through code, it seems that the following line is killing the normal functionality

[code]

This enriches the response with the reflection details of the rest endpoint. So

[code]

is serializable automagically, but

[code]

is not, because the container can't automagically determine the correct type.
It would be good to have an option to actually generate the correct return types,

[2017-07-21 12:59] rreddy2014 commented on #244
Thanks alot @vijayrcse   for quick replay. I will also try the same, but how are they validating consuming JSON data.

Thanks in advance.

[2017-07-21 13:33] vijayrcse commented on #244
To my knowledge you don't get anything generated by the plugin for response validation. You might have to look for your own  implementation or any solution

[2017-07-21 13:43] rreddy2014 commented on #244
Thnaks @vijayrcse

[2017-07-24 14:05] jpbelang commented on #289
Now they do :-)

Could you check (in release/2.1.0)

[2017-07-24 14:10] jpbelang commented on #290
I'll look into it.  Just so I understand, if the return type is a parameterized type, it has trouble figuring out the paramterized type.  Correct ?

This said, it would be possible to change the return type through a plugin for raml-to-jaxrs.  I'll try to give you an example.

[2017-07-24 14:15] jpbelang commented on #288
I don't think it's handled.  This is your whole raml ?

Having something in the response delegate to write the response could be an idea, correct (since there is no RAML type...) ?

[2017-07-24 14:16] jpbelang commented on #287
@jstoiko is something missing ?

[2017-07-24 14:18] jpbelang commented on #286
I'd like to ditch the incacessible field, honestly.  it was put there for reasons I don't remember now.  The actual raml name doesn't look like it's necessary.

(sorry for the delay, am currently working on builder/emitter for raml).

[2017-07-24 14:23] jpbelang commented on #285
Looking into it.  Inlines are a pain that are not currently helped by the parser.

[2017-07-24 21:24] giacgbj commented on #288
If you mean that there's no type at the end, that's the full RAML because I don't need a type since it's an octet-stream.

Googling around it seems that the suggested solution is to use StreamingOuput. Somethign like https://stackoverflow.com/questions/12012724/example-of-using-streamingoutput-as-response-entity-in-jersey using octet-stream as media type and passing the InputStream to write.

[2017-07-25 11:10] jpbelang commented on #288
Yes I mean no type and yes I agree it's not needed.  I'll do the SO solution tonight.  Or at lunchtime.

[2017-07-26 06:44] RigoRos commented on #265
Hey,
I'm facing the same issue during generation with [this](https://devportal.yaas.io/services/loyaltymember/v1/api.raml) RAML file.

[2017-07-26 07:21] ma-ver-ick commented on #290
Thanks!
If the return type is a parameterized type (List<XXX>) it works flawlessly as expected. If the return type is the ResponseDelegate type, it can't find the MessageBodyWriter.

That example would be cool, I have a little trouble with that.

[2017-07-26 11:53] jpbelang commented on #290
I'll try tonight or tomorrow.  Most likely tomorrow.

(I sound like a hairdresser:  I have you down for a Thursday plugin example).

[2017-07-28 13:32] giacgbj commented on #289
I just tested it and it works.
When are you going to release a new version?

[2017-07-28 13:56] giacgbj opened #291 "IncludeAdditionalProperties false"
The "jsonMapperConfiguration" configuration "includeAdditionalProperties" is read but it seems that is not used. I've tried to set it to false, but the methods are still generated.

[2017-07-28 18:04] jpbelang commented on #289
Good.  August ?

[2017-07-28 19:53] jpbelang commented on #288
Check this please ?

[2017-07-28 20:44] jpbelang commented on #290
I didn't do the example yet, but I pushed a fix that expands something I did for XML a while back.  It uses GenericEntity for arrays.  Could you try this please ?

on release/2.1.1

[2017-07-28 20:51] jpbelang commented on #291
Are you using a jsonschema ?  jsonMapperConfiguration only works with jsonSchema.

I'll setup a configuration for disable it if you are using raml data types and you need a global shutdown.  Is this correct ?

[2017-07-28 21:31] giacgbj commented on #288
It works. Thanks for your prompt feedbacks!
Waiting for the release ;-)

[2017-07-28 21:31] #288 closed

[2017-07-28 21:57] giacgbj commented on #291
Thanks for pointing out that jsonMapperConfiguration only works with jsonschema because I'm not using it :)

That's correct: I need a global switch using RAML data types.

[2017-07-28 22:05] giacgbj commented on #289
Looking forward to the release (or I'll have to release it by myself on our repository :anguished:).

[2017-07-28 22:05] #289 closed

[2017-07-31 12:35] jpbelang commented on #291
I just put an example on how you can suppress the addtionalproperties method.  you can do it globally, or locally on a class.  This is done with annotations.

I will do something else, though.  I'll break down the features into little features that you can activate through annotations if you need customizations.

[2017-08-01 07:02] ascheman opened #292 "Mirror Maven repos to Central or JCenter?"
Would you please consider uploading your Maven artifacts or mirroring your repositories to Maven Central or Bintray? It is hard to convince a customer to mirror multiple _special_ repositories in his enterprise Maven cache. Otherwise we are not able to use the latest versions of the artifacts.

[2017-08-01 07:09] jstoiko commented on #292
hi @ascheman, we're on it. We've been experiencing difficulties getting it setup in part due to the refactoring and a change of the groupId. It shouldn't take much longer. I'll update this issue once the artifacts have been deployed to Maven Central.

[2017-08-01 10:51] giacgbj commented on #291
I tried it but have to indent it like this
[code]
to avoid:
[code]

and when it's read properly the following error occurs:
[code]

Do you I need to create other SNAPSHOT artifacts besides raml-to-jaxrs-maven-plugin and jaxrs-code-generator (which were sufficient to test the other functionalities you added)?

[2017-08-02 12:29] Maxim-Chernyavsky opened #293 "Bad code generation with optional nil values"
Got a problem generating code with raml-to-jaxrs-cli when raml contains unions with nil values. Here is an example from specification

[code]

`$ java -jar ./raml-to-jaxrs-cli-2.1.0-jar-with-dependencies.jar  -d /tmp -r org.tst /tmp/NilValue.raml
`

I receive two classes

$ cat /tmp/org/tst/NilValue.java
[code]

$ cat /tmp/org/tst/NilValueImpl.java

[code]

None of these files contains the declara

[2017-08-03 22:06] jstoiko commented on #292
Raml for JAX-RS is now on Maven Central: https://oss.sonatype.org/#nexus-search;gav~org.raml.jaxrs~~~~

[2017-08-03 22:06] #292 closed

[2017-08-04 13:44] jpbelang commented on #291
I don't think so although I always maven install the whole half project.

Did you look at the raml-defined-example ?  I seems to work for me.

[2017-08-04 16:51] jstoiko commented on #292
http://search.maven.org/#search%7Cga%7C1%7Cg%3A%22org.raml.jaxrs%22

[2017-08-04 16:51] jstoiko commented on #235
@PascalBru FYI, release 2.1.0 is now on Maven Central: http://search.maven.org/#search%7Cga%7C1%7Cg%3A%22org.raml.jaxrs%22

[2017-08-04 16:51] jstoiko commented on #274
@vijayrcse: 2.1.0 is on Maven Central now: http://search.maven.org/#search%7Cga%7C1%7Cg%3A%22org.raml.jaxrs%22

[2017-08-04 18:15] jstoiko commented on #287
@jpbelang not sure what's wrong. The `buildscript.dependencies` in `raml-for-jax-rs/raml-to-jaxrs/examples/gradle-examples/build.gradle` is definitely wrong. It should be `raml-to-jaxrs-gradle-plugin-wrapper` instead of `raml-to-jaxrs-gradle-plugin`, no?

[2017-08-05 07:41] ascheman commented on #292
Thx!

[2017-08-05 22:03] jpbelang commented on #287
Actually, no.  The wrapper is just to allow for maven to build the gradle plugin.

[2017-08-05 22:20] jpbelang commented on #287
The raml gradle plugin is not deployed in maven central:
https://search.maven.org/#search%7Cga%7C1%7Craml-gradle-plugin

I'm looking into it now, but I don't have access to central.

[2017-08-06 20:30] jstoiko commented on #287
@jpbelang: I think it's here: https://search.maven.org/#search%7Cga%7C1%7Craml-to-jaxrs-gradle-plugin (``)

[2017-08-07 10:15] giacgbj commented on #291
If I use my ramls inside that project it works. I'd probably need to deploy other artifacts. I'll wait for the release :-)

[2017-08-07 20:36] nwillc commented on #287
The -wrapper plugin is **not the actual** plugin as far as gradle is concerned. Gradle will pull down that artifact but then you get a "Could not find implementation class 'org.raml.jaxrs.gradle.RamlToJaxrsPlugin ... " error on the "apply plugin: 'ramltojaxrs'"  That "wrapper" plugin looks like the code for the plugin, perhaps the plugin can be built from it I don't know.

[2017-08-08 13:45] nwillc commented on #287
Checked out the repo.  Built parts with mvn, did the suggested "gradle wrapper --gradle-version 3.3", explicitly set the version in the build.gradle to 2.1.0, and built the plugin with "./gradlew install".  Then manually uploaded it to our maven repo.  I can at least now apply the plug in.  This is a very sloppy state of things.

[2017-08-09 17:14] JimPartin commented on #268
trying to use ramltojaxrs cli tool on a 0.8 raml file. It will generate resources based on the -r flag (using 2.1.0 and 2.1.1), but will not generate any model files with the -m flag. Keeps crashing with errors.

The older 1.3.x tool seems to have no problem.

error:

SLF4J: Failed to load class "org.slf4j.impl.StaticLoggerBinder".
SLF4J: Defaulting to no-operation (NOP) logger implementation
SLF4

[2017-08-09 17:41] jstoiko commented on #268
@JimPartin, can you share your RAML or a sample of it?

[2017-08-09 17:46] JimPartin commented on #268
sure, tho I also threw the stress test api.raml at it and got a similar result.

SLF4J: Failed to load class "org.slf4j.impl.StaticLoggerBinder".
SLF4J: Defaulting to no-operation (NOP) logger implementation
SLF4J: See http://www.slf4j.org/codes.html#StaticLoggerBinder for further details.
Exception in thread "main" java.lang.NullPointerException
        at com.squareup.javapoet.ClassName.<init>(C

[2017-08-09 17:48] jstoiko commented on #268
can you provide the cli command?

[2017-08-09 17:50] JimPartin commented on #268
Sure, i've tried various variations, last run is:

java -jar raml-to-jaxrs-cli-2.1.1-SNAPSHOT-jar-with-dependencies.jar -d ./tmp ./api.raml

[2017-08-09 17:58] JimPartin commented on #268
for the original 0.8 file...:
#%RAML 0.8
title: thing1-oe-data-services-stuffs
baseUri: http://foo.bar.baz/thing1/oe/services/data/v1/stuffs

schemas:
- w00t: !include schemas/w00t-schema.json
- errorSchema: !include schemas/error-schema.json

/{var1}/op2/{var2}/op3/{var3}/op4/{var4}/op5/{op5}:
  get:
    description: la le li lu lo
    responses:
      200:
        body:
          application/jso

[2017-08-09 18:18] JimPartin commented on #268
btw, the code line for javapoet from the 2.1.1 build in the trace is com.squareup.javapoet.ClassName.get(ClassName.java:177) instead of 195.

I updated javapoet to 1.8 to attempt to resolve, yield line 195.

[2017-08-10 09:21] giacgbj opened #294 "java.time APIs and RAML Types"
Is there a way to use java.time APIs (e.g. LocalDateTime, LocalDate and LocalTime, ecc.) with RAML Types like datetime, date-only, time-only, ecc.?

[2017-08-14 07:10] abhyankartushar commented on #203
@ymamakis - I am also facing similar issue, I am using 2.1.0 version of jaxrs-to-raml but not able to generate schema for my Response object.

@petrochenko-pavel-a can you suggest something?

[2017-08-14 14:57] alxgrk opened #295 "Discriminator field is 'null' in subtype"
Hey there,

I tried using the `discriminator` property in a type like that _(shortened example)_:
[code]

When I tried generating code from this, the generated field `animalType` was always `null` in both, `Animal` and `Cat`.
The default `discriminatorValue` should be the type name (see [RAML doku](https://github.com/raml-org/raml-spec/blob/master/versions/raml-10/raml-10.md/#using-discriminator))

[2017-08-15 05:50] jstoiko commented on #268
Not sure what the issue is but I tested with 2.1.0 following `raml-to-jaxrs/README` and was able to generate the code.
[code]

[2017-08-15 14:28] JimPartin commented on #268
Thank you for taking the time to look into this. The -r flag seems to work fine most of the time, it's the -m flag to generate the model files that I am most concerned with. It repeatedly fails with the errors given. When run with no flags, it appears that the tool tries to perform all 3 operations, failing at the model generation (also fails with the -s support generation). When only using the -r

[2017-08-15 15:40] jstoiko commented on #268
I see. that's odd. have you tried using the maven plugin?

@jpbelang can you take a look?

[2017-08-15 15:40] #268 closed

[2017-08-15 16:08] JimPartin commented on #268
Should I create a new Issue for this problem?

[2017-08-15 17:08] jstoiko commented on #268
I may have closed this by mistake. Sorry. Anyway, yes please go ahead and create a separate issue.

[2017-08-15 18:07] JimPartin opened #296 "RAML-to-JAXRS CLI tool not generating model files in 2.1.x"
trying to use ramltojaxrs cli tool on a 0.8 raml file. It will generate resources based on the -r flag (using 2.1.0 and 2.1.1), but will not generate any model files with the -m flag. Keeps crashing with errors. The -s flag also fails.

The older 1.3.x tool seems to have no problem.

Also tested with the RAML 1.0 torture test API.raml in the project, it also fails attempting to generate models.

C

[2017-08-17 15:42] claudemamo commented on #265
Any updates on this issue? I'm having the same problem with version 2.1.0.

[2017-08-22 02:31] jpbelang commented on #295
I did the first half of the bug. I'll look at the second half.  Could you look at the raml-defined example:  the Human type doesn't seem to have your problem.  And that error message is not from our code (probably the parser...)

[2017-08-27 13:41] alxgrk commented on #295
Hey @jpbelang,
sorry for answering that late. The commits fixed the issue, thanks for that. I also tried it with the Human type, which worked as well. However, one problem still remains: the generated implementations for each class now have the string "*Impl" as a type (e.g. "HumanImpl"). I expected this to be the name of the interface class. Is it possible to change this as well?

Not sure about

[2017-08-28 04:54] vijayrcse commented on #220
Hi
Would like to know how this is supported in RAML 1.0
We are using dataTypes in RAML 1.0 spec. how can we customize the type classes generated to have serilizable interface implemented

Pls advise

[2017-08-28 11:07] jpbelang commented on #295
Do you mean in the discriminator value ?  I get the discriminator
private String humanType = "example.model.Corpse;

which is the interface class.

[2017-08-28 11:14] jpbelang commented on #220
@vijayrcse You could write a plugin to add the superinterface.

Check out the examples around
raml-to-jaxrs/examples/maven-examples/features/feature-plugins/src/main/java/org/raml/jaxrs/features/AddDeprecatedAnnotationToTypePlugin.java

the code generation is handled by javapoet.  From memory, you could do something like
builder.addSuperInterface(ClassType.javaClass(Serializable.class));

Or somet

[2017-08-29 10:22] Prudhvee opened #298 "Generating Wrapper classes(java.lang.Long, java.math.BigDecimal) from the Raml1.0 schemas"
Hi,

Was able to generate the Wrapper classes from RAML-to-jaxrs in RAML 0.8 using raml-jaxrs-maven-plugin with the following JSON syntax.
**"Interest": {“type":"object", "javaType":"java.math.BigDecimal” }**

Is there a way we can generate the similar Wrapper classes (ex. "java.lang.Long" for "long" in RAML1.0 datatype schema) using the raml-to-jaxrs-maven-plugin?

[2017-08-30 16:41] jpbelang commented on #265
Changed your pom file to have this:
                    <resourcePackage>resources</resourcePackage>
                    <modelPackage>model</modelPackage>

[2017-08-30 17:46] jpbelang commented on #265
@RigoRos fixed for your raml.  It was null bodies.

@claudemamo give it a shot.

[2017-09-04 08:19] JoseHdez2 opened #299 "raml-to-jax-rs-cli: Problem with generated entity interfaces."
# Problem

I'm generating a model and its API methods using [raml-to-jaxrs](https://github.com/mulesoft-labs/raml-for-jax-rs/blob/master/raml-to-jaxrs/README.md), more specifically [raml-for-jaxrs-cli](https://github.com/mulesoft-labs/raml-for-jax-rs/tree/master/raml-to-jaxrs/raml-to-jaxrs-cli).

My model has two generated classes, `Product` being an `interface` and `ProductImpl` its implementing

[2017-09-06 09:31] jpbelang commented on #299
Are you using jackson ?  Can you show me your command line ?

Try adding -g jackson.

[2017-09-06 17:54] hshah8831 opened #300 "@ramlGenerator: does not parse the property of a class"
I am using @RamlGenerator(SimpleJacksonTypes.class) to get the RAML type in raml 1.0 It does recognize the java class but cannot get the properties.

However, my class has @JsonProperty annotation. Please let me know in case you need more information.

[2017-09-06 19:17] jpbelang commented on #300
Can you show me an example class ?

[2017-09-06 19:37] hshah8831 commented on #300
This is what I have
[code]
And couple of other like this
This generates types as follows

types:
    Account:
        description: This class provides info about an account
    AccountAuthPolicy:
        description:
    UserAccounts:
        description:
    User:
        description:

[2017-09-06 19:42] hshah8831 commented on #300
Just to add to the question and give a little context.

As you can guess, I am trying to generate a Raml from jax-rs. I am able to create a raml file but there are certains issues.

It does not include definition of "type" for List, HashSet etc.
I am using the @ramlgenerator to generate the raml types, but it does not give me properties. It would be great if you can give an example of customizatio

[2017-09-07 10:36] jpbelang commented on #300
Ok, I'll try to get in to look at this tonight.

[2017-09-08 13:55] tarabola commented on #296
hello,

any solution?

[2017-09-08 15:02] jpbelang commented on #296
Could you try with -r and -m ?  I might not default correctly.

[2017-09-08 15:05] tarabola commented on #296
got the same

C:\EA\API\RAML\raml-for-jax-rs\raml-to-jaxrs\raml-to-jaxrs-cli>java -jar ./target/raml-to-jaxrs-cli-2.1.0-jar-with-dependencies.jar -d /tmp -r foo.bar ../examples/maven-examples/raml-defined-example/src/main/resources/dealerRestful.raml
SLF4J: Failed to load class "org.slf4j.impl.StaticLoggerBinder".
SLF4J: Defaulting to no-operation (NOP) logger implementation
SLF4J: See http://www.

[2017-09-08 15:40] jpbelang commented on #296
Could you try with the code on release 2.1.1 ?  I fixed this issue:

https://github.com/mulesoft-labs/raml-for-jax-rs/issues/265

Which looks a lot like yours.

[2017-09-08 16:43] tarabola commented on #296
you forgot <module>posti-smartship</module> from maven-examples´s pom

[2017-09-08 16:50] tarabola commented on #296
so, I removed posti-smartship module and finally it´s ok.

But still warnning

SLF4J: Failed to load class "org.slf4j.impl.StaticLoggerBinder".
SLF4J: Defaulting to no-operation (NOP) logger implementation
SLF4J: See http://www.slf4j.org/codes.html#StaticLoggerBinder for further details.

[2017-09-08 23:42] JimPartin commented on #296
Thanks, I'll check after his this hurricane blows through.

[2017-09-08 23:44] jpbelang commented on #296
Hoping you are hypnotized by CNN and not in the path of the hurricane.  If you are, a sincere good luck.

[2017-09-11 15:58] JoseHdez2 commented on #299
Hello @jpbelang, thank you and sorry for the late follow-up; I was working with a temporary solution (deleting the interfaces and working with just the entities) and forgot to check for replies.

I am using jackson indirectly; I build with Maven and I have `jersey 2.25` as a dependency in my `pom.xml`. I'll edit with more information tomorrow.

[2017-09-12 14:19] jstoiko commented on #299
can you share the full command used to run the CLI?

[2017-09-12 14:35] vijayrcse opened #301 "Support of @JsonSubTypes annotation in generated types"
Hi ,

My autogenerated type class looks like this

class BaseProduct implements Product {
    protected ProductDescriptor descriptor;
}

Since here ProductDescriptor  is an interface , ObjectMapper's readValue(InputStream in, Class<T> valueType) method throws below exception

com.fasterxml.jackson.databind.JsonMappingException: Can not construct instance of ProductDescriptor  r, problem: abstract

[2017-09-12 18:03] jpbelang commented on #301
You don't seem to be generating automatic jackson2 annotations.

On the command line, add **-g jackson**

In maven, look at the examples.  Add
[code]

[2017-09-12 18:54] vijayrcse commented on #301
Got it it worked. thanks a lot

[2017-09-12 18:54] #301 closed

[2017-09-13 07:42] JoseHdez2 commented on #299
@jstoiko I am using a bash script I made, which really just runs the JAR:

[code]

The files are generated just fine; my initial problem is when using the generated code for PUTting or POSTing an entity. I hope this helps.

[2017-09-13 11:31] jpbelang commented on #299
Your script is short the -g jackson option.  You are only generating the classes and not the jackson annotations.

I swear I'll make that annotation mandatory. :-) (I think you are the third person in the last two weeks that has had that problem.

[2017-09-13 16:33] JoseHdez2 commented on #299
Thank you very much @jpbelang! Haven't been able to un-scramble the implementation code I had written, but I follow up on Monday to hopefully inform you that it works :+1:

[2017-09-18 07:47] alxgrk commented on #295
Alright, I finally had time to try it again. It works now as you described, not sure what made it not working as expected on the first go.
I'll close the issue now.

[2017-09-18 08:03] alxgrk commented on #295
When I tested it right now, the String `humanType` was only containing the class name. However, when I read your comment again, I saw that in you case it was "example.model.Corpse". I don't want the package name here. Could this lead to collisions (e.g. that Corpse could be used equally for two different types)? Or could you maybe simply provide a setter for the discriminator value in order to pro

[2017-09-20 07:55] giacgbj opened #302 "Complex types JSR 303 validation"
What happened to the feature added by the pull request https://github.com/mulesoft-labs/raml-for-jax-rs/pull/161 ?

[2017-09-20 09:56] YangYangX commented on #289
Hi,

Sorry for commenting in a closed issue :P, but has header support been released yet? We are using the raml-2-jaxrs-maven plugin.

[2017-09-20 12:16] jpbelang commented on #289
Not yet.  We are trying to sync up with another project to use common code.  It should be soon though.

[2017-09-20 12:22] jpbelang commented on #302
there is an option for jsr303 annnotations on raml types.

The maven version:
https://github.com/mulesoft-labs/raml-for-jax-rs/blob/821cc8864a690864e226a3465e49e27163fe8954/raml-to-jaxrs/examples/maven-examples/README.md

-g jsr303 on the command line

[2017-09-20 13:40] giacgbj commented on #302
I'm using that option, but the `@Valid` annotation is not produced on complex methods.

[2017-09-21 04:05] vijayrcse opened #303 "Support for jackson 1.x annotations( codehaus )"
We have some projects using Jackson 1.9 where we use the below provider

org.codehaus.jackson.jaxrs.JacksonJsonProvider

Since the model object are generated as interfaces & classes we get below exception during deserialization

org.codehaus.jackson.map.JsonMappingException: Can not construct instance of com.org.Employee, problem: abstract types can only be instantiated with additional type inform

[2017-09-21 20:34] reallyinsane opened #304 "Generate @DefaultValue annotation for query parameters with default values"

[2017-09-21 20:39] #304 closed

[2017-09-24 23:25] jpbelang commented on #302
Like this ?

[2017-09-24 23:37] jpbelang commented on #300
Sorry for the delay.  Right now, I only look for annotations on methods.  I'm trying to fix it now.  Might not be dne tonight.

[2017-09-24 23:52] jpbelang commented on #300
I've just made a test example with your setup and is seems to generate properly.  I've got an example in the pipes for a type handler. They are fairly simple: look at org.raml.jaxrs.handlers.SimpleJacksonTypes and you could change the TypeScanner internal class.

[2017-09-25 10:42] giacgbj commented on #302
I find it difficult to test it because

[code]

has a parent pom which refers to

https://repository-master.mulesoft.org/nexus/content/repositories/snapshots/org/raml/jaxrs/raml-to-jaxrs/2.1.1-SNAPSHOT/maven-metadata.xml

and points to a non-existing artifact

2.1.1-20170924.235014-16

while the artifact has the version

2.1.1-20170924.235013-16

As you can see, it seems the seconds passed between

[2017-09-26 10:53] giacgbj commented on #302
maven-metadata.xml has been corrected.

I tested the code but it doesn't work as I expected.

Given the following (simplified) RAML:

[code]

the following code should be produced:

[code]

[2017-09-26 12:40] jpbelang commented on #302
Ok, no problem.  I thought you had meant the @Valid annotation on child object of a composite object.

I know what you mean.

[2017-09-27 03:27] SwathiYakkali opened #306 "minimum, maximum validations on integer are not populated."
I have raml configuration as below:
[code]

In the generated Java class, there are no validations set at the `Weight` property.

[2017-09-28 19:59] euclio commented on #287
I see that there was a commit regarding this issue? Does there just need to be a new release?

[2017-10-05 07:50] alxgrk commented on #295
Alright, probably this issue won't find any more recognition, so for me it's fine to declare the discriminatorValue explicitly within the RAML.

[2017-10-05 07:50] #295 closed

[2017-10-14 18:13] kevinduffey commented on #232
@jstoiko  could you update the links please. They are all broken now and I would like to take a look at this again.

[2017-10-16 18:15] lincolnminto opened #309 "Library referring to another Library"
When I use multiple Libraries references it is appended to the java entity reference the defined alias from the RAML library type name causing a _Compilation failure_.

**RAML Library:**
[code]

**JAVA POJO:**
[code]

**Exception:**
[code]

Please, check the attached files.

[test-multiple-raml-libraries.zip](https://github.com/mulesoft-labs/raml-for-jax-rs/files/1388525/test-multiple-raml-librari

[2017-10-17 17:27] jstoiko commented on #232
Updated those links, the GitHub url scheme changed somehow.

[2017-10-17 17:35] jstoiko commented on #232
Note that version [`2.1.0`](https://github.com/mulesoft-labs/raml-for-jax-rs/releases/tag/2.1.0) has been released since then. Also, `2.1.1` is in the works and a SNAPSHOT is available on [MuleSoft's Nexus repository](https://github.com/mulesoft-labs/raml-for-jax-rs/blob/e919a54368641413a008807a80bc1699acfd2547/pom.xml#L276).

[2017-10-17 22:58] jpbelang opened #310 "Use emitter from tools"
Migrate the code so thst we use the emitter and builder from tools

[2017-10-17 22:59] jpbelang opened #311 "Use pojo to raml from tools"

[2017-10-17 23:04] jpbelang opened #312 "Use ramltopojo from tools (not there yet)"
This would make everything in jaxrs-for-raml to only take care of jars stuff.

[2017-10-18 11:13] jpbelang commented on #309
This is interesting.  I'm not sure I like the generated name.  I think I'd prefer a separate package.

I'm currently finishing something on another project.  I should be back on this project next week.  Thanks for the example.

[2017-10-18 13:19] giacgbj commented on #302
It works properly for my actual needs.
When are you going to release a new version?

[2017-10-18 13:19] #302 closed

[2017-10-19 14:30] lincolnminto commented on #309
This behavior happens whenever you reference to a library. Even if you are referencing it from the RAML root definition.

[code]

It generates the exception:

[code]

[2017-10-19 16:57] DavideRossi opened #313 "Path parameters nowhere to be found"
A path like this:
/polls/{pollId}
creates a method in the main interface like that:
[code]
How am I supposed to retrieve the pollId path parameter from within the implementation of getDoodlePolls?

FYI: if I use SAP's code generator (service-sdk-generator-maven-plugin) the method looks like that (which, to me, seems the more reasonable thing):
[code]
BTW: I'm using the maven plugin (v 2.1.0)

[2017-10-19 17:20] DavideRossi opened #314 "Method name clash when dealing with path parameters"
Two resources with the following paths:
[code]
generate two methods with the same signature:

[code]

To me that is related to #313 since the application of the path parameters in the methods would lead to different signatures (and no clashing).

I'm using the maven plugin (v 2.1.0).

[2017-10-19 18:25] jpbelang commented on #313
The path doesn't enter into it.  you need:
uriParameters:
      pollId: string

I don't parse (or check) the URL.

[2017-10-19 23:47] jpbelang commented on #306
Shoot I missed this.  Do you have the jsr 303 option activated ?  check the raml-defined-types pom.xml

[2017-10-20 10:39] DavideRossi commented on #313
Thanks Jean-Philippe.
Then maybe we can change that to an enhancement request?
This would also solve #314 ...

[2017-10-20 13:32] jpbelang commented on #314
I'll check why this breaks without parameters.

[2017-10-20 13:32] jpbelang commented on #313
It really can't be an enhancement request:  if you don't have the queryParameters and your url is

/foo/{bar}

The raml spec says that you are publishing, literally, that URL.  Not having the parameters essentially break what you are trying to say with the curly braces.

[2017-10-20 14:16] DavideRossi commented on #313
To me, it seems more convoluted than that. This is from the specs:

[2017-10-20 14:21] jpbelang commented on #313
Aw.  Crap.  I hadn't seen that.  And the parser doesn't seem to support it. Double crap. :-)

"Thanks".  I'll take your request under advisement (I'll see how the parser team feels about it).

In the meantime, is it a major hassle to put the parameters in ?  This works. :-)

[2017-10-20 14:25] jpbelang commented on #313
https://github.com/raml-org/raml-java-parser/issues/201

[2017-10-23 10:47] vijayrcse opened #315 "Code generation for multiple RAML files - using maven plugin"
Hi

I have multiple RAML files in by maven project. How to configure the maven plugin such that code generation happens for all the RAML

Currently I have something like below. How to change below so I can provide multiple RAML files references

[code]

[2017-10-26 14:59] giacgbj commented on #286
In my opinion, the names should be the same as specified in the RAML, without removing the underscores.

[2017-10-26 21:15] jstoiko commented on #189
FTR, this works as expected using version 2. JSON schemas are processed by jsonschema2pojo so the $ref has to follow what's described [here](https://github.com/joelittlejohn/jsonschema2pojo/wiki/Reference#ref).

[2017-10-27 16:07] JoseHdez2 commented on #299
Hello, I haven't closed this issue because I still have a problem with the generated classes and the model interfaces (ex. Product) not being mapped to their corresponding implementation class (ex. ProductImpl) in the resources.

I set the `-g jackson` flag, and now see the **`@JsonDeserialize`** Java annotation (and others) is being generated in the model interfaces. My problem now is that _some_

[2017-10-29 21:26] jpbelang commented on #315
I'm trying to configure the mojo for multiple executions, but for some reason, configuration-per-execution isn't working.  I can't figure out why this is failing.  I have some questions pending.

[2017-10-31 09:23] jairamrb commented on #299
Hi, I have the same problem generating the model interfaces. All endpoints which use entities without `@JsonDeserialize` Java annotation are inaccessible.

Any idea?

Thx. Regards.

[2017-10-31 13:02] jpbelang commented on #299
@JoseHdez2 If you could send me and Example, that would be helpful.

@jairamrb   inaccessible ?  I don't understand.

[2017-11-02 13:01] JoseHdez2 commented on #299
@jpbelang
For example, I have in my RAML the types Model1, Model2, Model3, etc.
When I generate them (into the `model` package), they are generated as Java `interface`s with corresponding implementation classes (Model1Impl, Model2Impl, Model3Impl, ...).

Most of these `interfaces` **do** have the `@JsonDeserialize` annotation, pointing to their corresponding implementation:

[code]

 while some ar

[2017-11-02 13:15] jairamrb commented on #299
Excuse me @jpbelang,  I did not express myself well. When I try to call a POST method, a 500 error is generated. However, if I change the arguments of the methods from interface to implementation, it works correctly.

[2017-11-02 15:41] jpbelang commented on #299
Ah.  Ok @JoseHdez2 .  Can you give me a class diagram ?  I'll build an example with that.

@jairamrb this might relate to your problem.  If the @JsonDeserialize is not on an interface, jackson can't figure out what the class to actually implement is.

[2017-11-03 11:40] glever commented on #287
Indeed, seems to be just a release issue. The plugin is unavailable on mavenCentral or the mulesoft repos.
I cloned raml-for-jax-rs and did a mvn clean install, after which I could use it following the instructions on the raml-to-jaxrs-gradle-plugin project page.

[2017-11-03 12:39] c4rs10 commented on #271
@wied03 I found a workaround with version 2.0.1:
1. Define in an external file (e.g. a library) your **destination_system** and assign as type a second type **destination_systemType**
2. Write the enum in the **destination_systemType** within the same library

In the resource exists now the import of the Java enum **DestinationSystem**, which contains all data from  **destination_systemType**.
The

[2017-11-04 19:45] glever opened #316 "Inconsistent code generation"
I was using the gradle plugin which I built myself (see my comments issue [287](https://github.com/mulesoft-labs/raml-for-jax-rs/issues/287) ). And suddenly, without any change on my project structure or codebase, I got a compiler error "ResponseDelegate is not an abstract class and does not implement method getEntity() of javax.ws.rs.core.Response". I also saw that the generated code in model cla

[2017-11-05 16:46] jpbelang commented on #316
The ResponseDelegate is generated to implement jaxrs Response.  This is calculated introspectively:  I look at the Response object on the current classpath and generate the delegator based on that object.

There seems to be some conflict on the classpath between two different versions of jaxrs, but for the life of me, I can't find a jaxrs version that doesn't have getEntity() on the Response objec

[2017-11-05 17:32] jpbelang commented on #316
The gradle build fails with your project.  I have little experience with Kotlin (Intellij is also having trouble loading the project):
parallel execution with configuration on demand is an incubating feature.
e: /Users/jpbelang/IdeaProjects/xmlers/xml/src/main/kotlin/be/glever/xmlers/xml/builder/ArchiveTimestampChainBuilder.kt: (20, 8): Unresolved reference: ietf
e: /Users/jpbelang/IdeaProjects/xm

[2017-11-05 17:57] glever commented on #316
Yes, my apologies. I left you a bit lost with my project structure (however, loading with intellij shouldn't  pose any problems, just run 'gradlew' from the top level structure.
Normally only the api.raml and raml-to-jaxrs-with-dependencies.jar should be enough to reproduce.
I'll see if I cannot provide you with a more condensed example.
And I noticed today that gradle incorporates a "tool" in the

[2017-11-05 18:16] glever commented on #316
Ok I was able to reproduce, so it wasn't the project setup (which I admit is a bit 'experimental', I'm also learning kotlin and gradle).

Use attached file, it contains a raml project structure created and edited by the atom 'raml workbench' tool.  The zip file also contains the generated output. You'll see the results of 2 consecutive runs under
\src\main\generated\raml\be\glever\xmlers\rest\api\

[2017-11-05 19:09] jpbelang commented on #316
java version "9.0.1"
Java(TM) SE Runtime Environment (build 9.0.1+11)
Java HotSpot(TM) 64-Bit Server VM (build 9.0.1+11, mixed mode)

Ran this 30 times:

rm src/main/generated/raml/be/glever/xmlers/rest/api/generated/support/ResponseDelegate.java && sh run.bat && grep 'getEntity(' src/main/generated/raml/be/glever/xmlers/rest/api/generated/support/ResponseDelegate.java

Came up fine all the time.

[2017-11-05 19:43] glever commented on #316
Removed all traces from java from my machine + cleaned up my path, made sure `java`  was unrecognized.
Downloaded and installed latest jdk 9 -> same issue
Uninstalled, downloaded and installed jdk8 -> same issue.

I'll validate on my workpc tomorrow.

I'll be happy to debug on my machine, I assume I can just import the project in intellij and run the main class in debug mode? Could you point me to

[2017-11-05 19:56] jpbelang commented on #316
I'm really stunned.  It seems to fail ~50% on your side, correct ?

As to the debugging, this is the class generating the code:

org/raml/jaxrs/generator/ResponseSupport.java:79

is paydirt.  This is precisely where I add the code.  The loop goes over Response.class.getDeclaredMethods().  I suppose if getEntity() isn't in this list, then I won't write it.

This piece of code was added, if memory s

[2017-11-05 20:36] glever commented on #316
I was hitting the conditional breakpoint ("ResponseDelegate".equals(this.name);) on the  javapoet TypeSpec constructor a lot of times, then it hit me:
==>
ResponseSupport:105-106 (creation of the java file) is inside the foreach(method) loop.
Shouldn't this be outside? If this is the case I think we found our answer :)

Code was generating the class for each method it added, endresult should still

[2017-11-05 20:44] glever commented on #316
Sorry, looking further at the javapoet sources the file write is in fact done in a try-with-resources block, so the final file _should_ have contained all methods. Still, now it seems the getEntity() method is always present...

[2017-11-05 20:54] jpbelang commented on #316
Ths was fixed, rather accidentally in the current (2.1.1, current development).

[2017-11-05 20:55] jpbelang commented on #316
Thank you very much for your help.  As to the why it fails, it might be a windows file locking thing ?  I'm as surprised as you are.

[2017-11-05 21:03] glever commented on #316
Probably, I'm not going to lose any sleep over it :)

btw: I find this project together with the raml-workbench great. This is how REST services should be developed in an enterprise setting!
Are there plans for creating jaxrs clients too? I'm interested in doing this myself but can't commit to anything as I already have other projects taking up my time...

[2017-11-05 22:22] jpbelang opened #317 "classpath: and java: schema references setup."
This was done.

[2017-11-05 22:25] jpbelang commented on #316
Yes there are, but i'm running slower on this project for a bunch of reasons.  There are a few too many bugs right now (which I'm trying to fix), and I'd like to separate type generation from jars generation (I have that half done).

I'll close the issue.  Thank you very much for your support.

[2017-11-05 22:26] #316 closed

[2017-11-06 00:51] jpbelang commented on #315
I've added an example of multiple files in one of the  examples(I've actually changed the plugin)

raml-to-jaxrs/examples/maven-examples/raml-defined-example/pom.xml

If the ramlFile is a directory, the the includes and excludes kick in.  We do a recursive search for files.

[2017-11-06 02:04] vijayrcse commented on #315
thanks for looking into this. I shall take a look at the example

[2017-11-06 18:57] uweschaefer commented on #286
you really need to be able to access exactly the string taken from RAML, which in version 2.1.0 is the name-field. If it is the SomeEnum.name(), fine but anything else make it unusable for us.

[2017-11-08 08:46] DavideRossi opened #318 "Support for "inline" multiple inheritance"
[code]
is not supported (I'm guessing since it produces erroneous code) whereas
[code]
is.

Maybe this is a duplicate of #245?

[2017-11-12 00:34] jpbelang commented on #318
I've build a patch which might get me closer to better code, actually.  Check please :-)

This is the last issue before release.  Type generation will move to a separate project for the next release.

[2017-11-14 15:15] chrisjamesconnor commented on #294
Hi - wondered if there was any answer to this? Other than doing some JavaPoet type work on our own ?

[2017-11-16 08:53] lapo-luchini commented on #256
Seems to be still there with `FormParams`:

[code]

[2017-11-19 16:23] jpbelang commented on #294
Right now, it's java poet stuff.  Which is a bit of a pain.

However, i'm working on a raml-to-pojo (which would be used by ramlforjaxrs) that would swap them out wholesale.

[2017-11-21 15:09] chrisjamesconnor commented on #294
Excellent - I am currently working on specifying an approach for our applications. Would I be better waiting on this to bottom out (ie for you to finish this work).

I am currently using annotationTypes to map className properties so that we generate java.time.Local date (creating a ramltojaxrs.raml) file in the process.

This seems to work well for our use cases at this early stage. We are also u

[2017-11-21 23:17] amagnus opened #320 "Imports generation issue with raml-to-jaxrs maven plugin"
Hello,

The issue is that the generated ResponseDelegate contains this:

[code]

It should only contain this java.lang import:

[code]

This is causing a conflict with maven-checkstyle-plugin which is throwing errors when simple java.lang imports are present. So we end up having to manually edit ResponseDelegate where we shouldn't touch generated code.

I looked into it and found that there is a `

[2017-11-21 23:51] amagnus opened #321 "Generated types with raml-to-jaxrs maven plugin"
Assuming I have the following RAML type:

[code]

Running the maven plugin does generate a Person interface, as well as a PersonImpl class. However I think we only need the implementation in most cases, and the two files are generated anyway.

How about adding a config flag to skip generating the DTO interfaces?

[2017-11-21 23:53] jpbelang commented on #321
This would make it impossible to do multiple inheritance.  Fair warning. :-)

In the new raml to pojo, this is planned to be an option.

[2017-11-22 00:05] jstoiko commented on #320
Seems like we're depending on an [older version of javapoet](https://github.com/mulesoft-labs/raml-for-jax-rs/blob/3ff80e058554faede5bbdcb2ff6afa5d85a1cb53/raml-to-jaxrs/jaxrs-code-generator/pom.xml#L23). Maybe that option was introduced later on or not working as expected in that version? MY 2c :)

[2017-11-22 00:11] jstoiko commented on #321
For the record, the "new raml to pojo" @jpbelang is referring to will be residing in [the raml-java-tools repository](https://github.com/mulesoft-labs/raml-java-tools). `raml-for-jax-rs` will still depend on it so this should be transparent and effortless. The main benefit will be potential reusability in other projects.

[2017-11-22 01:13] amagnus commented on #320
Tested the latest version with same result.

[2017-11-30 02:08] amagnus commented on #321
awesome!

[2017-12-01 01:07] amagnus commented on #314
@DavideRossi I had a similar issue, and fixed by adding `uriParameters`, like the following:

[code]

[2017-12-07 05:07] #318 closed

[2017-12-07 05:07] #272 closed

[2017-12-07 05:07] #296 closed

[2017-12-07 05:07] #317 closed

[2017-12-07 05:07] #286 closed

[2017-12-07 05:08] #300 closed

[2017-12-07 05:08] #265 closed

[2017-12-07 05:08] #271 closed

[2017-12-11 16:59] derekm opened #322 "java.util.UUID with jaxrs-to-raml"
How would I teach jaxrs-to-raml-cli about java.util.UUID types?

[2017-12-11 18:46] kingargyle opened #323 "Configuration Option to skip generating Resources and Support optoins"
I'm I'm interested in really is the ability to generate the POJO data types with Jackson Annotations.  I know there is the ramltopojo tools project under development, but  didn't see where that had built in support for Jackson.   somthing like skipResources = true, and skipSupport = true.

[2017-12-13 14:53] giacgbj opened #324 "RAML to POJO - description and displayName"
Are you planning to support description and displayName fields?

[2017-12-14 11:35] jpbelang commented on #324
The description would be pulled from the javadocs.  Where would you want the displayname to go ?

[2017-12-14 11:39] jpbelang commented on #323
Not sure what you mean:  ramltopojo will support jackson2 annotations (this will appear on the weekend).  That will only build the pojos.

Will that do what you want ?

[2017-12-14 11:47] jpbelang commented on #322
Does jackson2 handle UUID types natively ?  (I don't think so).

If it does (or if you can manage to register a serializer/deserializer outside of using annotations), you might be able to lie to it by forcing a java type on it with the className RAML annotation like this:
https://github.com/mulesoft-labs/raml-for-jax-rs/blob/821cc8864a690864e226a3465e49e27163fe8954/raml-to-jaxrs/jaxrs-code-generat

[2017-12-14 19:22] kingargyle commented on #323
Yep, that will do what I need.  Closing this request.

[2017-12-14 19:22] #323 closed

[2017-12-15 09:58] giacgbj commented on #324
According to the documentation:

- displayName: An alternate, human-friendly name for the resource. If the displayName node is not defined for a resource, documentation tools SHOULD refer to the resource by its key, which acts as the resource name.
- description: A substantial, human-friendly description of a resource. Its value is a string and MAY be formatted using markdown.

It's not extremely

[2017-12-15 13:02] bmbadrinath commented on #72
How to read .raml file without maven dependency.code executed fine by maven project but as a normal jav project getting below error
Exception in thread "main" java.lang.NoClassDefFoundError: org.raml.v2.api.loader.ResourceLoader

[2017-12-15 19:21] podviaznikov commented on #223
I think this one is important. Otherwise, those generated files need to be modified which defeats the purpose of generation a bit.

[2017-12-18 22:00] derekm commented on #322
I'm using jaxrs-to-raml... I want to generate RAML from my JAX-RS interfaces.

[2017-12-21 12:07] igc23 commented on #299
Hello @jpbelang, I'm a colleague of @JoseHdez2, we still have the same problem, working for fixing it but not lucky. I'll give u a specific example, hope u can help:

[export.tar.gz](https://github.com/mulesoft-labs/raml-for-jax-rs/files/1579105/export.tar.gz)

If u need some more information just tell us, we will be checking the post. Thank you so much.

[2017-12-23 03:27] #24 closed

[2017-12-23 03:34] jpbelang commented on #43
Does this work in 2.0 ?

[2017-12-23 03:34] #43 closed

[2017-12-23 03:35] #44 closed

[2017-12-23 03:36] #46 closed

[2017-12-23 03:38] #50 closed

[2017-12-23 03:42] jpbelang commented on #104
2.0 supports custom annotations for the raml, but not for the schema...

[2017-12-23 03:42] #104 closed

[2017-12-23 03:43] jpbelang commented on #122
2.0 client generation will come.

[2017-12-23 03:44] jpbelang commented on #125
This should work in 2.0

[2017-12-23 03:44] #125 closed

[2017-12-23 03:44] #124 closed

[2017-12-23 03:46] jpbelang commented on #126
This is could be done through plugins (if still relevant). 2.2 will have better plugins.

[2017-12-23 03:46] #126 closed

[2017-12-23 03:46] #128 closed

[2017-12-23 03:46] #129 closed

[2017-12-23 03:47] #131 closed

[2017-12-23 03:47] #132 closed

[2017-12-23 03:48] jpbelang commented on #135
Make sure this works in 2.x

[2017-12-23 03:49] #138 closed

[2017-12-23 03:49] #139 closed

[2017-12-23 03:50] #145 closed

[2017-12-23 03:51] #147 closed

[2017-12-23 03:51] jpbelang commented on #149
Does the spec support these explicitely ?

[2017-12-23 03:51] #149 closed

[2017-12-23 03:52] jpbelang commented on #153
2.0 is 2.0.

[2017-12-23 03:52] #153 closed

[2017-12-23 03:53] #157 closed

[2017-12-23 03:56] jpbelang commented on #169
2.0, works.

[2017-12-23 03:56] #169 closed

[2017-12-23 03:58] #173 closed

[2017-12-23 03:58] #176 closed

[2017-12-23 04:00] jpbelang commented on #178
check for 2.x

[2017-12-23 04:01] #179 closed

[2017-12-23 04:01] #182 closed

[2017-12-23 04:02] #183 closed

[2017-12-23 04:02] #184 closed

[2017-12-23 04:03] #185 closed

[2017-12-23 04:04] #187 closed

[2017-12-23 04:05] #189 closed

[2017-12-23 04:05] #192 closed

[2017-12-23 04:06] #193 closed

[2017-12-23 04:06] #195 closed

[2017-12-23 04:07] #196 closed

[2017-12-23 04:09] jpbelang commented on #202
I think #251 fixes this.

[2017-12-23 04:09] #202 closed

[2017-12-23 04:10] jpbelang commented on #214
2.x can do this through configuration.

[2017-12-23 04:10] #214 closed

[2017-12-23 04:12] #210 closed

[2017-12-23 04:14] jpbelang commented on #208
Make sure it's in 2.x

[2017-12-23 04:14] #207 closed

[2017-12-23 04:16] #205 closed

[2017-12-23 04:20] #215 closed

[2017-12-23 04:20] jpbelang commented on #215
in 2.x, could be done by plugins, I think.

[2017-12-23 04:22] #217 closed

[2017-12-23 04:26] jpbelang commented on #216
What error are you getting in 2.x ?

[2017-12-23 04:27] jpbelang commented on #219
It should be in the repo now.

[2017-12-23 04:27] #219 closed

[2017-12-23 04:32] jpbelang commented on #259
This is probably a bug in the studio.  Jaxrs likes it.

[2017-12-23 04:32] #259 closed

[2017-12-23 04:33] jpbelang commented on #253
This was attempted in #251.

[2017-12-23 04:33] #253 closed

[2017-12-23 04:38] #244 closed

[2017-12-23 04:39] jpbelang commented on #237
This is doable through plugins.  The plugins are being made simpler.

[2017-12-23 04:39] #237 closed

[2017-12-23 04:46] #236 closed

[2017-12-23 04:47] #228 closed

[2017-12-23 04:49] jpbelang commented on #223
the raml-java-tools is coming with plugins to allow this

[2017-12-23 04:50] #220 closed

[2017-12-23 04:56] #281 closed

[2017-12-23 04:57] #290 closed

[2017-12-24 22:42] jstoiko commented on #299
That doesn't sound right. This is a nodeJS package... I believe @jpbelang was referring to [Java's Jackson](https://github.com/FasterXML/jackson).

@igc23: do you have a RAML file to share?

[2017-12-27 08:17] igc23 commented on #299
Hello @jstoiko, it's attached to my previous comment. I can't share the full and real file because it's business logic of the company, but the important thing is what is already attached. Anything else u need, just tell us. Thank you!

[2018-01-05 09:43] igc23 commented on #299
Hello @jstoiko and @jpbelang,

Is there any way to generate the architecture based on the raml file (version 1.0) without including the interfaces? I am referring to the interfaces of the data model, as it happened in version 0.8.

We currently use the following Jackson version:

<dependency>
<groupId> com.fasterxml.jackson.core </ groupId>
<artifactId> jackson-databind </ artifactId>
<version> 2.

[2018-01-11 15:53] leflamm commented on #233
It seems that this doesn't help - I'm getting this generated code:
[code]

We're using 2.1.0.

I'm not sure if "get_schema" would be a nice name for the getter (and if this conforms to the Beans standard), one solution would be to add a JsonProperty annotation:

[code]

But the danger here is that you get a clash, in case somebody has two attributes "_schema" and "schema". But in that case, the ge

[2018-01-11 15:54] leflamm commented on #233
@jstoiko or @jpbelang

Could you please reopen this issue?

[2018-01-16 09:20] frl7082 opened #325 "Returning of Lists with non primitives not possible"
The generation of Lists with non primitive types is not possible.
See this Raml:
[code]
Where A.schema.json is just a simple object. An AList.schema.json is only an array with A as item.

The generation fails with the message:
[code]

This is because of the definition of AList2

If this is removed the generation works, however the result class of AList is just exactly like the generated class of A

[2018-01-18 13:11] frl7082 opened #327 "Not specified UriParameters are not generated"
From the raml 1.0 spec:

If an uriParameter is not specified, the generator ignores it.

[2018-01-18 13:22] frl7082 commented on #327
Duplicate for: #313

[2018-01-18 13:22] #327 closed

[2018-01-18 13:33] frl7082 opened #328 "Add possibility to generate uriParameters as longs"
When having an uriParameter with type "integer" it is generated as "int". Please add the possibility to generate it as "long"

[2018-01-18 14:25] jpbelang commented on #328
Yup.  it should be possible with the new object generator.  Will post an answer on the weekend.

[2018-01-18 14:26] jpbelang commented on #325
Is this with the latest release ?

[2018-01-18 14:32] frl7082 commented on #325
Yes, with the current 2.1.1 release.

For 2. it seems it was made illegal on purpose. However I don't quite get why. [LINK](https://github.com/raml-org/raml-java-parser/commit/0cf66bd2787afefd2f5b417c244ff0d160b0fbf8#diff-0073956544fd88bd877e789dc6a437c4)

[2018-01-20 06:36] SaeedSatari opened #329 "Failed to execute goal org.raml.jaxrs:jaxrs-to-raml-maven-plugin:2.1.1:jaxrstoraml"
Hi friends.
I'm using "raml-generator-api" in my projet.
In one of the classes that i have byte[ ] fileld that returned.
When i try to build that with maven i have this error :

[ERROR] Failed to execute goal org.raml.jaxrs:jaxrs-to-raml-maven-plugin:2.1.1:jaxrstoraml (default) on project mobile-search: Execution default of goal org.raml.jaxrs:jaxrs-to-raml-maven-plugin:2.1.1:jaxrstoraml failed. N

[2018-01-24 14:55] olkow commented on #287
I'm yet another person who is affected by the missing jaxrs-to-raml-gradle-plugin artefact at mavenCentral or mulesoft mvn repos. As for other users the procedure:
1. clone the raml-for-jax-rs,
2. do mvn install

results in the **jaxrs-to-raml-gradle-plugin** jar being installed in my local repo. Such state of things is fine for a school project, however, at my work it not acceptable.

As @glever

[2018-01-25 21:58] jpbelang commented on #233
Hi

I ran with the current code (which has changed a lot).  We currently generate:
[code]

Could you check ? On release/2.2.0 ?

Don't forget to add
[code]

[2018-01-25 22:58] jpbelang commented on #328
Sorry for the delay:  on release/2.2.0.

This can be done with the changeType plugin.  Without the unbox parameter, you keep the java.lang.Long:
[code]
The contents of ramltopojo.raml is
[code]

[2018-01-25 23:16] jpbelang commented on #325
Well, the problem you have is that you are using jsonschema types and the parser won't ever parse a list of jsonschema objects.  I think it's in the RAML spec.  This is out of my control.

I'm supposing the AList schema contains a list of A ?  Does this not work ?

[2018-01-26 00:24] jpbelang commented on #320
Fixed on release/2.2.0

[2018-01-26 02:02] jpbelang commented on #314
Fixed in release/2.2.0

[2018-01-26 02:10] jpbelang commented on #313
I've worked around this in #314

[2018-01-26 02:11] jpbelang commented on #312
Done!

[2018-01-26 02:12] #312 closed

[2018-01-26 02:44] jpbelang commented on #309
Fixed on release/2.2.0 (through the raml-to-pojo library).

[2018-01-26 03:01] jpbelang commented on #306
In release/2.2.0, when the jaxrs is activated, it sets the annotations on the using types.

[code]

[2018-01-26 08:40] frl7082 commented on #325
Yeah, you're right. I've just reread the spec.

Yes, AList is something  like:

{
	"$schema": "http://json-schema.org/draft-04/schema#",
	"type": "array",
	"items": {
		"$ref": "A"
	}
}

But the created AList.java is just exactly like the A.java, however everywhere the AList is used, I would expect List<A> to be generated.
With the 1.3.4 version this worked as expected.

[2018-01-26 08:41] frl7082 commented on #328
Thank you! To be honest, I've expected something like the "useLongIntegers" option in jsonschema2pojo, but this will also work.

[2018-01-26 22:07] jpbelang commented on #328
Just FYI:
There is a format facet to integer and number in raml.  You can also use this.  Maybe that's better.  I implemented them just now. :-)

[code]

As to using options, raml annotations allow for finer grained control.  I really prefer these :-)

[2018-01-26 22:09] jpbelang commented on #325
I'll look at what you get.  I'll come back to you.

My opinion though, is that you should try to migrate to RAML types (I understand that you might not be able to)

[2018-01-26 22:44] jpbelang commented on #294
Ooooooh.  Lombok.  That's a great idea.  Unfortunately, the RAML type have changed the way of writing plugins a bit.

As to changing the type, you can now (in release/2.2.0) change the type being used.  You could check out this annotation:
[code]

[2018-01-27 18:39] jpbelang commented on #324
On release/2.2.0, I've added the description as javadoc, pretty much straight up.

[2018-01-29 01:15] jpbelang commented on #329
release/2.2.0 has a fix for this.  It also sets the format appropriately.

[2018-01-29 01:43] jpbelang commented on #298
In 1.0, on the release/2.2.0 you can annotate the types.
see #329 to setup a plugin.  There is also the core.box plugin.

[2018-02-05 09:01] alxgrk opened #330 "Default value in Jackson's @JsonProperty"
Hi there,

currently there is no handling of default values defined in the RAML, as far as I can see.
However, Jackson offers the possibility to add an annotation attribute `defaultValue` to the `@JsonProperty` annotation. This [will not be used for databinding](https://github.com/FasterXML/jackson-annotations/wiki/Jackson-Annotations), but would then at least be available within the sources.
Coul

[2018-02-05 13:29] leflamm commented on #233
[code]
Does the job! Thx

[2018-02-05 13:29] #233 closed

[2018-02-07 10:01] alxgrk opened #331 "Jackson: Use 'As.EXISTING_PROPERTY' in super types with discriminator"
Hi,

when generating types with Jackson option turned on, the following is generated for types that declare a `discriminator`:

[code]

The subtype `B` overriding the `discriminatorValue` with e.g. `"B"` would then look something like this:

[code]

However, if this is getting serialized, the resulting output string will contain the `type` property **twice**, since `@JsonTypeInfo(..., include = As

[2018-02-08 18:16] mikkoi commented on #303
Also I fail with Jackson1 generation.
Can you share your config? Maven?

[2018-02-08 18:43] mikkoi opened #332 "Can not Generate Types (Models) for Jackson1"
I try to generate Jackson 1 (Codehaus) annotations. Unfortunately Jackson 2 is not an option. But I get Jackson 2 with the following configuration. Is this a bug?
(And the <jsonMapperConfiguration> optiosn do not seem to work either!)

			<plugin>
				<groupId>org.raml.jaxrs</groupId>
				<artifactId>raml-to-jaxrs-maven-plugin</artifactId>
				<version>2.1.1</version>
				<dependencies>
				</depe

[2018-02-08 22:13] jstoiko commented on #332
@mikkoi: can you try `jackson` instead?

In the [docs](https://github.com/mulesoft-labs/raml-for-jax-rs/blob/821cc8864a690864e226a3465e49e27163fe8954/raml-to-jaxrs/examples/maven-examples/simple-json-example/README.md) it says:

If that's not a bug and was really intended this way, we should probably change `jackson` to `jackson` to make it less ambiguous since `jackson` is an [alias of `jackson2`

[2018-02-09 07:22] mikkoi commented on #332
I tried both `jackson` and `jackson1`. Same result.

org/raml/jaxrs/codegen/maven/RamlJaxrsCodegenMojo.java:
[code]

 Jackson2 seems to be default in jsonschema2pojo.
https://github.com/joelittlejohn/jsonschema2pojo/blob/master/jsonschema2pojo-core/src/main/java/org/jsonschema2pojo/AnnotationStyle.java

[2018-02-15 02:26] jpbelang commented on #332
On branch 3.0.0, i've quickly built a jackson1 annotation plugin.  I don't have a setup to check it right now.
It does not du unions right now (I need to check the jackson1 docs to build a custom serializer).

In your maven file ,as a config:

[code]

[2018-02-15 02:35] jpbelang commented on #303
See #332

[2018-02-16 22:26] jpbelang commented on #330
Could you give this a try ?  (3.0.0-SNAPSHOT)

[2018-02-16 22:29] jpbelang commented on #332
I've put unions in.

[2018-02-16 22:34] jpbelang commented on #322
There is an example in the 3.0.0-SNAPSHOT that show you how to do this.

[2018-02-18 15:11] jpbelang commented on #279
Please see #315

[2018-02-18 16:25] jpbelang commented on #331
Could you check 3.0.0-SNAPSHOT ?  I can't seem to get the behaviour you are describing.

[2018-02-18 20:36] jpbelang commented on #223
equals and hashCode are in for ObjectTypeDeclaration.  I'll do unions later today.

[2018-02-18 21:12] jpbelang commented on #223
unions are done.
The plugin can be set in the pom.xml or you can set it on the API of type directly (where you can specify a list of fields to consider field names.  I'll do toString() in a separate plugin.

[2018-02-18 21:42] #311 closed

[2018-02-18 21:43] #310 closed

[2018-02-19 06:20] jpbelang commented on #223
toString plugin for types, called core.toString

[2018-02-20 23:37] joezhou888 opened #333 "rams-jaxrs-cli unable to generate all the pojo with multiple raml files"
[Course Application Service.zip](https://github.com/mulesoft-labs/raml-for-jax-rs/files/1742316/Course.Application.Service.zip)

./target/raml-to-jaxrs-cli-2.1.1-SNAPSHOT-jar-with-dependencies.jar -d /Users/joe/project/workspace/admission2/src/main/java/  -r  edu.sydney.ict.admission.rest.pojo ~/project/software/Course\ Application\ Service/courseapplicationservice.raml

The process works fine. No

[2018-02-21 08:31] cpkr opened #334 "RAML containing multipart form data does not generate compileable code"
We created a raml file containing a post request with mulitpart formdata. The fragment used is equivalent to the one in file jaxrs-to-raml-examples/jaxrs-to-raml-maven-examples/jaxrs-to-raml-multipart/target/generated-sources/raml-jaxrs/jaxrs-to-raml-multipart.raml from the currrent Snapshot:

[code]

When generating the java code via maven the resource does contain a class for this parameter whic

[2018-02-21 11:49] jpbelang commented on #333
I'm not understanding what the issue is:  you are specifying a RAML file:  it's going to pick up that specific RAML file.  Are you talking about includes ?

PS:  you seem to be using maven (from the paths).  Is there a reason you are not using the maven plugin ?

[2018-02-21 11:51] jpbelang commented on #334
is this on master ?  Just to be clear the "TheMultipartsPostMultipartFormData" is not generated ?

[2018-02-21 23:02] joezhou888 commented on #333
Yes I am talking about the includes. It is not picking up includes that is inside another includes.

I will give maven plugin ago.  It is just cli looks easy to use.

[2018-02-21 23:03] jpbelang commented on #333
Can you give me a snippet ? Like The top file and an include ?

[2018-02-22 04:33] joezhou888 commented on #333
In the attached Course Application Service.zip above.
courseapplicationservice.raml has includes that references to !include schemas.json/response/ApplicationResponse.raml then ApplicationResponse.raml has includes to !include ../admissionTestResult/AdmissionTestResult.raml

It is not generating the pojo for AdmissionTestResult.raml

[2018-02-22 13:35] jpbelang commented on #333
I'm at work, I'll check tonight for sure.

[2018-02-22 21:14] jpbelang commented on #333
Things need to be attached to the "topmost" raml file:  the processor starts from the topmost and finds types through this.  They need to be declared as types in the raml file.

For example
types:
  KeyRequest : !include schemas.json/request/KeyRequest.raml
  KeyResponse : !include schemas.json/response/KeyResponse.raml
  ApplicationRequest: !include schemas.json/request/ApplicationRequest.raml

[2018-02-23 07:16] frl7082 commented on #325
Any progress on this one. Unfortunatly migrating to RAML types is not possible atm.

[2018-02-25 19:21] jpbelang commented on #334
I've built a plugin to handle this case.  The reason I've built a plugin is that form data implementation are server specific (I may be wrong, but all examples I've seen seem to indicate this).

Look at the torture test for usage.  Tell me if I missed something.

[2018-02-25 21:51] joezhou888 commented on #333
Thanks you for explaining.
This really helps, I will give it ago.

[2018-02-25 23:25] jpbelang commented on #325
Yes, I've been reading on the subject and trying stuff.
jsonschematopojo does not generate collection classes (https://github.com/joelittlejohn/jsonschema2pojo/issues/202).  The normal way of doing this seems to be (in raml08) to have a schema object that contains a collection property and to use this.

Now, in 1.0, you could write a plugin where you replace the generated parameters (A a, for exam

[2018-02-25 23:27] jpbelang commented on #333
I'll close the issue.  Should you have another question, don't be shy about coming back here.

[2018-02-25 23:27] #333 closed

[2018-02-26 06:44] cpkr commented on #334
Thanks for the update. Unfortunately the branch release/3.0.0 does not compile to me:

[ERROR] Failed to execute goal org.apache.maven.plugins:maven-compiler-plugin:3.1:compile (default-compile) on project raml-defined-example: Compilation failure: Compilation failure:
[ERROR] /data/projects/dcep/git/raml-for-jax-rs/raml-to-jaxrs/examples/maven-examples/raml-defined-example/target/generated-source

[2018-02-26 13:08] jpbelang commented on #334
Are you sure you are up to date ? The travis-ci build is passing.

https://travis-ci.org/mulesoft-labs/raml-for-jax-rs

[2018-02-27 15:43] cpkr commented on #334
Looks fine from the generated code. I will continue with the implementation and reply if also this part works.

Thanks for your support.

[2018-02-28 15:36] 2324829 opened #335 "NPE when scanning #%RAML 1.0 Library Typed files"
After cloning the repo and building locally (I am unable to locate the plugin byte code jar anywhere), I am unable to successfully run the CodeGenerator task against the Anypoint RAML generated files from my #%RAML 1.0 project(s) that contain Libraries (I’ve attached the small sample project that contains an API, 2 models and 1 library). I am consistently getting the following stack trace:

Caused

[2018-02-28 16:27] jpbelang commented on #335
I haven't looked at your example, so this is entirely theoretical.

Are you trying to just generate the types without any resources ?

(I'll look at your example this PM).

[2018-02-28 18:51] 2324829 commented on #335
Thanks for the quick reply. Correct, the example has an api and 2 types/models, no resource. Are resource(s) required? If so please advise. Thanks

[2018-02-28 22:12] jpbelang commented on #335
Ok.  I've checked:  right now, across ramltojaxrs, I use the API object.  Including libraries would be possible, but we are on the edge of releasing 3.0.0, so I'm reluctant to rock the boat.

It might be in 3.0.1.  In the meantime, though, you should know that resources are not required: you can list only types.

That said, a sister [project](https://github.com/mulesoft-labs/raml-java-tools/tree/r

[2018-02-28 23:46] 2324829 commented on #335
Thanks for your assistance. Just to confirm, the current ramltojaxrs version 2.X does not support the includes/libraries and theres no way to generate JAXB for the following "address?: !include Address.raml" correct? I'll take a look at the sister project, do you know if the includes/libraries are functional there? When do you expect 3.0.1 to release?

[2018-03-01 09:40] frl7082 commented on #325
Fun thing is, with version 1.3.x (and raml 0.8) the List<A> was generated correctly. Wasn't this also delegating to jsonschema2pojo?

[2018-03-01 12:13] jpbelang commented on #335
No, not exactly.  We can't read "root" Library elements.  If the library you are reading is included from an api file (that in your case would not contain resources), then it should work.

[2018-03-01 12:15] jpbelang commented on #325
Yes, but I didn't manage to get it to work in the old code either.   Do you have a 0.8 example ?  I might have translated it wrong.

[2018-03-01 19:00] jstoiko commented on #223
FYI, those plugin options are documented here: https://github.com/mulesoft-labs/raml-java-tools/blob/19fe0a1b7e2dcbaa82a9d85eff57784f8db53779/raml-to-pojo/README.md

[2018-03-02 01:14] 2324829 commented on #335
So within our api.raml we would do something like:
types:
  Contact : !include types/Contact.raml

That appears to be working, within Contact.raml we have:
address?: !include Address.raml

I can see an Address interface/implementation as an inner interfaces/implementation to the Contact interface/implementation. Is the expected? Anyway to avoid generating inner interfaces/implementation classes?

[2018-03-02 02:27] jpbelang commented on #335
Yes, it's what is expected. Inline types are defined inside their containing types.

[2018-03-02 12:55] frl7082 commented on #325
Here is a working [example](https://github.com/mulesoft-labs/raml-for-jax-rs/files/1775127/example.zip)

[2018-03-02 13:07] jpbelang commented on #325
Thanks, I'll run it this PM.

[2018-03-02 21:33] jpbelang commented on #325
I've figured out what is going on.  I use jsonschematopojo in a different way (pretty different).
My code is generated with JavaPoet in general.  External classes are delegated to jaxb and js2pojo, which use CodeModel.  This is not generally problematic, in general, but you've hit on a non-trivial problem, namely that I could have to parse the codemodel structures to figure out what is going on.

[2018-03-05 07:39] cpkr commented on #334
I found one issue in new implementation: If you have a uri parameter this is not generated as parameter.
Example:
[code]

Do you also have a solution for this one?

[2018-03-05 14:55] jpbelang commented on #334
Just pushed a quick fix with minimal testing.  Could you give it a try ?

[2018-03-06 07:53] frl7082 commented on #325
Hmm, unfortunately I cannot continue on my project until this is fixed :(
Any idea for a temporary workaround? You've mentioned a plugin?

[2018-03-06 14:20] jpbelang commented on #325
yes, of course.  I'll build a method plugin where you can force the type of the input value to list of something.  You can say what the something is.

It should be called something like "workaround.listOf".  I'll try to do this tonight.

[2018-03-06 15:14] cpkr commented on #334
It is working as expected. Many thanks for your support.

[2018-03-07 12:24] jpbelang commented on #325
Please check the type torture test and add the plugin. You can put any type in the
annotation.

[code]

[2018-03-08 16:30] 2324829 opened #336 "NumberFormatException: For input string: "mediaType" When running phases on Array Data Types"
When using type "array" (As seen below) I get the following exception

Caused by: java.lang.NumberFormatException: For input string: "mediaType"
        at org.raml.yagi.framework.util.NodeSelector.selectFrom(NodeSelector.java:191)
        at org.raml.yagi.framework.util.NodeSelector.selectFrom(NodeSelector.java:62)
        at org.raml.v2.internal.impl.v10.phase.MediaTypeInjectionPhase.getDefaultM

[2018-03-09 16:08] DavideRossi opened #337 "Issues with inline array types in method bodies"
To my understanding this is a valid RAML method declaration:
[code]
but this seems to trigger a bug in raml-to-jax-rs since a weird `List<org.foo.bar.generated.model.Object> entity` parameter is produced in the corresponding Java method.

If I declare the array as a type:
[code]
and convert the method to:
[code]

the java method correctly returns `List<RecipeReference> entity`.

This is a full ver

[2018-03-09 16:11] jpbelang commented on #337
Are you on the 3.0 branch ?

[2018-03-09 16:13] DavideRossi commented on #337
No, I'm on 2.1.

[2018-03-09 16:15] jpbelang commented on #337
Guess what my next question is :-) ?

Can you check 3.0.0-SNAPSHOT ?

[2018-03-09 16:22] DavideRossi commented on #337
OK, I think I have a guess.
But I have a problem too: I was ready to distribute my uml2raml generator and I was writing a tutorial on how to use it with raml-to-jax-rs and I want to point to software that is available on maven central. Any hope to see a fix backported to the v2 branch, or any relase date for 3.0.0?
BTW: are you asking me to test that with v3 or do you know already it is going to w

[2018-03-09 16:25] jpbelang commented on #337
Release date for 3.0 is this weekend, pending if it solves your problem.

As to the BTW:  the inline types were made better in 3.0.  I can check your RAML this PM.  For the record, inline types are difficult to figure out, as the parser gives us no help on the subject, so we are left at guessing whether this is a new type.

[2018-03-09 16:35] DavideRossi commented on #337
To me inline types should be ditched, they are hard to parse and are hard to read. But in my case I would have to create new synthetic type each time a method parameter is an array in the UML model. Testing it with 3.0.0 now...

[2018-03-09 16:50] DavideRossi commented on #337
OK, same problem with 3.0.0-SNAPSHOT, the method is a little different but the parameter is still List<org.foo.bar.generated.model.Object> entity

[2018-03-09 16:52] jpbelang commented on #337
I'll look.  I've seen this.  It might have to do with the raml.  This PM, for sure.

[2018-03-09 18:14] DavideRossi commented on #337
And, BTW, in the case the inline declaration is in the request body the problem in a spurious `import org.foo.bar.generated.model.Object;`

[2018-03-09 21:05] jpbelang commented on #337
Ok, here is the quick analysis:
Fails (array.items().name() == object, array.items().type() == RecipeReference):
[code]
SucceedsFails (array.items().name() == RecipeReference, array.items().type() == object):
[code]
Which really surprises me, as it's semantically identical.  IMO.

But the fact that this succeeds:
[code]
Is the surprising part.  It should return the same as the first one.
So i fixe

[2018-03-09 21:11] jpbelang commented on #337
For the record:
https://github.com/raml-org/raml-java-parser/issues/250

[2018-03-09 23:07] DavideRossi commented on #337
Yup, it works now (I had to delete ~/.m2/repository/org/raml, I do really really love Maven, right?).
So the question is: is this going to be backported to 2.1? I already wrote a workaround (producing a new <type>Array type for all arrays in method parameters and returns) and I want to know if I have to keep it for those working with 2.1 or I can safely ditch it (it's ugly!).

[2018-03-10 00:08] jstoiko commented on #337
This won't be back-ported. We are about to release 3.0.0 though.

[2018-03-12 09:27] frl7082 commented on #325
Thank you really much for your help! I think the fix is only available in 3.0 ? Any plans when 3.0 is released?

[2018-03-12 19:56] 2324829 commented on #336
@jpbelang any thoughts? Thanks

[2018-03-13 11:44] jpbelang commented on #336
The formatting is gone from your post.  YAML being what it is, I can't make heads or tail of this.

The RAML forum might be a better place to get quicker answers to this stuff.

https://forum.raml.org/

[2018-03-13 11:47] jpbelang commented on #325
Any minute now.  The code is complete.

[2018-03-19 10:40] muthulingapandian commented on #294
Hi Belanger,

Where can i find the ramltopojo.raml? Please help.

Regards,
Muthu

[2018-03-20 07:55] frl7082 commented on #325
So? Still no release? :(

[2018-03-20 10:08] mikkoi commented on #332
Tested. Works.
Thank you. And sorry for late reply.

[2018-03-20 10:32] jpbelang commented on #294
An file is here:

https://github.com/mulesoft-labs/raml-for-jax-rs/blob/release/3.0.0/raml-to-jaxrs/examples/maven-examples/raml-defined-example/src/main/resources/ramltopojo.raml

[2018-03-20 10:34] jpbelang commented on #332
No problem!

[2018-03-20 10:34] #332 closed

[2018-03-20 14:05] LumnitzF opened #338 "Add validation on parameters"
Currently, validation annotations are generated only for types. However, the RAML-spec allows to define facets on parameters as well. Currently, all the validations have to be done in the code, as it is not possible to add the annotations on implementing classes [beanvalidation](http://beanvalidation.org/1.1/spec/#constraintdeclarationvalidationprocess-methodlevelconstraints-inheritance). Therefor

[2018-03-20 19:00] #328 closed

[2018-03-20 19:00] #320 closed

[2018-03-20 19:00] #314 closed

[2018-03-20 19:00] #313 closed

[2018-03-20 19:01] #309 closed

[2018-03-20 19:01] #329 closed

[2018-03-20 19:01] #324 closed

[2018-03-20 19:01] #294 closed

[2018-03-20 19:01] #298 closed

[2018-03-20 19:02] #337 closed

[2018-03-20 19:02] #325 closed

[2018-03-20 19:03] #334 closed

[2018-03-20 19:03] #223 closed

[2018-03-20 19:03] #303 closed

[2018-03-20 19:03] #331 closed

[2018-03-20 19:04] jstoiko commented on #331
3.0 released. Feel free to re-open this issue or create a new one if it doesn't work as expected

[2018-03-20 19:04] #285 closed

[2018-03-20 19:04] #322 closed

[2018-03-20 19:05] #279 closed

[2018-03-20 19:05] #330 closed

[2018-03-20 19:05] #264 closed

[2018-03-20 19:05] #306 closed

[2018-03-20 19:05] #315 closed

[2018-03-21 09:31] frl7082 commented on #325
Please note, that this is not completely finished. Only a workaround is provided

[2018-03-22 10:03] muthulingapandian commented on #206
Hi,

I am having same issue and using plugin version 2.1.0. Any idea, is <jsonMapperConfiguration> supported in this version? or please help with workaround for it.

<jsonMapperConfiguration>
<dateTimeType>java.time.LocalDateTime</dateTimeType>
<dateType>java.time.LocalDate</dateType>
<timeType>java.time.LocalTime</timeType>
</jsonMapperConfiguration>

Thank you

Regards,
Muthu

[2018-03-22 11:44] muthulingapandian commented on #294
Thanks Belanger

Basically, ours is third-party RAML and not supposed to update it. So I tried another approach by adding MapperConfiguration in pom.xml as below,

<jsonMapperConfiguration>
       <useJodaLocalDates>true</useJodaLocalDates>
       <useJodaLocalTimes>true</useJodaLocalTimes>
       <useJodaDates>true</useJodaDates>
</jsonMapperConfiguration>

But it is not working and generates dat

[2018-03-22 11:44] muthulingapandian commented on #294
Thanks Belanger

Basically, ours is third-party RAML and not supposed to update it. So I tried another approach by adding MapperConfiguration in pom.xml as below,

<jsonMapperConfiguration>
       <useJodaLocalDates>true</useJodaLocalDates>
       <useJodaLocalTimes>true</useJodaLocalTimes>
       <useJodaDates>true</useJodaDates>
</jsonMapperConfiguration>

But it is not working and generates dat

[2018-03-22 11:45] muthulingapandian commented on #294
Thanks Belanger

Basically, ours is third-party RAML and not supposed to update it. So I tried another approach by adding MapperConfiguration in pom.xml as below,

"<jsonMapperConfiguration>
       <useJodaLocalDates>true</useJodaLocalDates>
       <useJodaLocalTimes>true</useJodaLocalTimes>
       <useJodaDates>true</useJodaDates>
</jsonMapperConfiguration>"

But it is not working and generates d

[2018-03-22 11:46] muthulingapandian commented on #294
Thanks Belanger

Basically, ours is third-party RAML and not supposed to update it. So I tried another approach by adding MapperConfiguration in pom.xml as below,

   <jsonMapperConfiguration>
       <useJodaLocalDates>true</useJodaLocalDates>
       <useJodaLocalTimes>true</useJodaLocalTimes>
       <useJodaDates>true</useJodaDates>
   </jsonMapperConfiguration>

But it is not working and generat

[2018-03-22 11:49] muthulingapandian commented on #294
Thanks Belanger

Basically, ours is third-party RAML and not supposed to update it. So I tried another approach by adding MapperConfiguration in pom.xml as attached,

[jsonMapperConfiguration.txt](https://github.com/mulesoft-labs/raml-for-jax-rs/files/1837346/jsonMapperConfiguration.txt)
But it is not working and generates date types in default java.uitl.Date. I am using raml-to-jaxrs-maven-plugin

[2018-03-22 15:29] 2324829 commented on #336
I posted the following, which is my current state on this

https://forum.raml.org/t/assistance-with-array-types-not-generating-model-objects/2172

Thanks for your assistance.

[2018-03-23 06:28] aagarwl opened #340 "3.0.0 release referring to raml-to-pojo:jar:1.0.0-SNAPSHOT"
Hi,

I was trying to use raml-to-jaxrs-maven-plugin version 3.0.0 for my code and found that is referring to raml-to-pojo:jar:1.0.0-SNAPSHOT internally, but the snapshot version is not available in the respository.
The error i am getting while running the mvn is :

Execution GenerateAdminV1 of goal org.raml.jaxrs:raml-to-jaxrs-maven-plugin:3.0.0:generate failed: Plugin org.raml.jaxrs:raml-to-jaxrs

[2018-03-23 06:35] vivekshabadi commented on #264
Hi,
Am facing similar issue and i tried using the latest 3.0.0 version of the maven plugin, but it fails while downloading the dependent jars.  Please see below for the error message:

Downloading: https://repository-master.mulesoft.org/releases/org/raml/raml-to-pojo/1.0.0-SNAPSHOT/maven-metadata.xml
Downloading: http://rms-in.blr.mspu.hq.k.grp:8081/nexus/content/groups/mspu-public-in/org/raml/ram

[2018-03-23 13:33] jpbelang commented on #340
3.0.1 was just released, fixing exactly that issue.

[2018-03-23 14:50] aagarwl commented on #340
Thanks for the quick reply.

Using release 3.0.1 i am facing another 'null' error:

[ERROR] Failed to execute goal org.raml.jaxrs:raml-to-jaxrs-maven-plugin:3.0.1:generate (GenerateAdminV2) on project ml-sp-bcm-api: Error generating Java classes from: null: unable to create type array item of type object (or maybe an inline array type ?) -> [Help 1]
[ERROR]
[ERROR] To see the full stack trace of t

[2018-03-23 17:30] jpbelang commented on #340
Are you trying to create a new type that is an array ? Can you show me a snippet ?  (or the whole thing ?)

[2018-03-24 05:07] aagarwl commented on #340
Below is the snippet of the schema that i am try to do:

  contentRating:
    usage: The base type for content ratings
    type: record
    properties:
      code:
        required: true
        type: string
        description: The content rating code. This is unique across all content ratings in the system for a given rating body
      maturityRating:
        required: false
        type: intege

[2018-03-24 12:12] jpbelang commented on #340
Could you repost the snippet with formatting ?  Use the markdown formatting strings  it's three backticks followed by "yaml".
[code]

[2018-03-26 06:51] aagarwl commented on #340
Hi,
Attached is the raml file i am facing issue with
[uploaded.zip](https://github.com/mulesoft-labs/raml-for-jax-rs/files/1846604/uploaded.zip)

[2018-03-26 07:02] huyuwen commented on #287
Any progress on this issue? There is still no correct release in Maven Central or Mulesoft.

[2018-03-26 13:19] jpbelang commented on #287
That is *the* issue we are working on.  It should result in a 3.0.2 release.

[2018-03-28 12:18] jpbelang commented on #340
Ok, here is the problem:

[code]
You are trying to create an inline array type.  Declare your type separately (in the types section) and declare the property as an array of that type.

That may seem like a pain, but the parser does very little to help us figure out inline types.  That, and a couple of bugs with array type item type declaration make it difficult to figure out the type correctly.

[2018-03-28 12:20] jpbelang commented on #340
Track this issue (which is related to parser issues....)
https://github.com/mulesoft-labs/raml-for-jax-rs/issues/337

[2018-03-29 08:04] frl7082 opened #341 "Unable to parse library for workaround.entityListType"
The workaround library introduced for #325 is not parsable.

[ERROR] annotationTypes: {
[ERROR] types: {
[ERROR] allowedTargets: Array[TypeDeclaration,API],
[ERROR] properties: {
[ERROR] className?: null
[ERROR] }
[ERROR] },
[ERROR] resources: {
[ERROR] allowedTargets: Array[Resource,Method,Response,API],
[ERROR] properties: {
[ERROR] plugins?: any[]
[ERROR] }
[ERROR] },
[ERROR] methods: {
[ERROR]

[2018-03-31 17:53] jpbelang commented on #287
Could anybody check to see if the 3.0.2-SNAPSHOT version of the gradle plugin is available in the Mulesoft repo ?

[2018-04-01 20:20] huyuwen commented on #287
There is no gradle plugin (3.0.2) released in either of the following links.
https://repository.mulesoft.org/snapshots/org/raml/jaxrs/
https://repository.mulesoft.org/releases/org/raml/jaxrs/

It is not possible to search such plugin from search.maven.org

[2018-04-01 22:39] jpbelang commented on #287
I see them here

https://repository-master.mulesoft.org/nexus/content/repositories/snapshots/org/raml/jaxrs/jaxrs-to-raml-gradle-plugin/
https://repository-master.mulesoft.org/nexus/content/repositories/snapshots/org/raml/jaxrs/raml-to-jaxrs-gradle-plugin/

@jstoiko is this the right place ?  (It's where I see all the snapshots...)

[2018-04-03 10:51] jamalkhattab commented on #280
Will the @FormParm change be also added to the jax-rs-to-raml project?

[2018-04-04 01:50] 2324829 opened #344 "Is it possible to generate types with JAXB and annotate the types with Jackson annotations?"
I'm generating types with jaxb and since types contain an interface and an implementation I am wondering if it is possible to also annotate the types/interfaces with Jackson annotations, so that Jackson can deserialize json if needed? Currently Jackson cannot locate the concrete classes, something like @JsonDeserialize(as=Concrete.class) is needed in the generated interfaces.  Thoughts?

[2018-04-04 08:23] oliverdozsa opened #345 "Pattern properties"
Hello,

Are pattern properties supported?
When I try to generate from this RAML (it's from the spec):
[code]

I get:

[code]

[2018-04-05 14:57] jpbelang commented on #344
No, and I doubt it would be possible, as jaxb uses a different code generation library from our code.

But doesn't jaxb also support json encoding ?

[2018-04-05 15:01] jpbelang commented on #344
You might be able to do it through jaxb mechanisms, however.  On those I am not an expert, but maybe around this stuff ?

https://stackoverflow.com/questions/8702559/adding-an-annotation-to-a-jaxb-binding-class-from-a-schema

[2018-04-05 15:03] jpbelang commented on #280
I'll try to work on it this weekend.

[2018-04-05 15:08] jpbelang commented on #345
I'll check on the weekend.

[2018-04-06 11:28] soberich commented on #287
My 5 cents is ...
Won't that be great to have it on gradle-plugin portal ..
to just get it like this
[code]
?

[2018-04-08 15:13] jpbelang commented on #345
Moved here:
https://github.com/mulesoft-labs/raml-java-tools/issues/7

Short answer:  no, we don't currently support these.  Yes, I want to.

We want to do a short term release:  I could do a short term fix where I ignore these entries (so that the generation passes).  Then I could look into supporting them properly.

[2018-04-09 21:37] jpbelang commented on #280
I know how to do it.  I'll try to have something simple (basic types) available tomorrow.  I'll see if complex types are possible.

[2018-04-15 15:13] jpbelang commented on #280
Could you look at this, please ?  I've only done RAML 1.0 according to this:

https://github.com/raml-org/raml-spec/wiki/Breaking-Changes#defining-form-parameters-has-been-removed-in-favour-for-raml-types

[2018-04-16 11:48] jamalkhattab commented on #280
Hey @jpbelang, will your change affect the jax-to-raml project as well?  I downloaded the code from the release/3.0.2 branch, and I used the "jaxrs-to-raml-cli-3.0.2-SNAPSHOT-jar-with-dependencies" jar to generate the Raml file of a JAX-RS API that has parameters using the @FormParam annotation and it didn't work. Should I open an issue under the jax-to-raml project instead to add support for JAX-

[2018-04-23 20:31] jpbelang commented on #280
@jamalkhattab you are right.  I'll create an issue and refer to it from here right away.  Sorry for the delay.

[2018-04-24 19:27] jpbelang opened #346 "Might be a problem with @FormParam in jaxrs-to-raml"
There might be a problem with the @FormParam as indicated  in https://github.com/mulesoft-labs/raml-for-jax-rs/issues/280

@jamalkhattab I have one example that seems to work already. Could you post your failing example ?

https://github.com/mulesoft-labs/raml-for-jax-rs/blob/release/3.0.2/jaxrs-to-raml/jaxrs-test-resources/src/main/java/org/raml/jaxrs/examples/resources/ResourceWithFormParam.java

[2018-04-25 10:56] jamalkhattab commented on #346
@jpbelang It turns out I wasn't specifying what the method should consume "@Consumes(MediaType.APPLICATION_FORM_URLENCODED)". After doing so, I was able to successfully generate the RAML file and see the form parameters. My apologies for the hassle and thank you for your help!

[2018-04-26 12:50] youac opened #347 "@Provides annotation missing for @POST"
For the following RAML

[code]
Generates the following code in version 3.0.1
[code]

Previous versions also generated a @Provides("application/json") annotation. Is this also possible on version 3.0.1?

[2018-04-28 10:15] jpbelang commented on #347
Oupsie.  My UTs did not check for that (for some reason) and sometimes left empty annotations."

Could you check the 3.0.2 branch ?

[2018-04-30 08:35] youac commented on #347
Excellent, that fixes it

[2018-05-01 09:11] markus-wa opened #348 "Compilation Error for Generated Code"
When using the CLI to generate JAX-RS code we get an error when trying to compile the result.

Version: 3.0.1-SNAPSHOT

**Generated files:**

[code]

**Compiler output:**
[code]

Note `com\hp\wsg\sim\tibco\bsl\appointments\reschedulefuf\model\BslApiAppointmentsReschedulefufPOST200Response.java` was the generated File / Class and `BslApiAppointmentsReschedulefufPOST_200Response` was imported (With

[2018-05-01 12:16] jpbelang commented on #348
Can you give me a pertinent RAML bit that I could test against?

[2018-05-01 19:34] markus-wa commented on #348
Sure, I'll post it on Friday as I don't have access to the RAML in question right now.

[2018-05-03 23:32] silvafabio opened #349 "cannot parse property of type java.lang.Class<?>"
Hi.

I think this issue could be related to #216

My environment:
- openjdk version "1.8.0_171"
- Apache Maven 3.5.0 (Red Hat 3.5.0-6)
- Linux Fedora Core 27
- Project source and target: Java 1.8

This is my first try:

`            <plugin>
                <groupId>org.raml.jaxrs</groupId>
                <artifactId>jaxrs-to-raml-maven-plugin</artifactId>
                <version>3.0.1</version>

[2018-05-04 06:54] markus-wa commented on #348
Here you go @jpbelang

[code]

[2018-05-08 19:56] edeandrea commented on #287
Hello Mule team - any updates on this 10 months later? This leaves the entire Gradle community in limbo for the time being.

[2018-05-11 08:12] bbrighttaer opened #350 "Response codes"
Is it possible to specify different response codes when working with jaxrs-to-raml?

[2018-05-13 16:04] jpbelang commented on #349
The Class type is not natively supported by RAML:  it can't translate the type simply.

You have to define a plugin to allow you to change the type to something else.  There is an example of this here:
https://github.com/mulesoft-labs/raml-for-jax-rs/blob/release/3.0.2/jaxrs-to-raml/jaxrs-test-resources/src/main/java/org/raml/jaxrs/examples/resources/package-info.java

And there is some docs here:

[2018-05-13 23:52] jpbelang commented on #348
Short answer: jsonschema2pojo doesn't like _ in the names, and it changes the names.  I mostly remove them (I missed one case).

Quick fix:  remove the underscores from the types names and it should work.  I've pushed something on this branch that removes the _.

[2018-05-14 12:06] markus-wa commented on #348
Works like a charm with that branch, cheers!

[2018-05-14 12:06] #348 closed

[2018-05-15 13:45] frl7082 commented on #341
Well, I found the problem. Looks like you should not hae a `!include` before the library reference

[2018-05-15 13:45] #341 closed

[2018-05-15 17:18] #350 closed

[2018-05-16 20:40] silvafabio commented on #349
I don't use Class or Generic type in any piece of code, it's strange!

[2018-05-16 20:50] jpbelang commented on #349
Ok, well that kills that theory. Do you have a code sample?

[2018-05-17 11:48] youac opened #351 "Additional Properties always null"
Hey,

After updating to 3.0.1, additionalProperties in the generated source models is always null. This causes a null pointer exception when a POST body contains any properties that were not defined in the RAML.
This occurs when setting additionalProperties: true or false in the RAML

[2018-05-20 13:35] jpbelang commented on #349
I think I know what's up.  When parsing java types, the system needs to know how to parse java types.
If you don't do that it falls back to parsing it as a bean.  This almost never makes sense, however if you already have annotations and such in the classes (for either jaxb or jackson...).

I think the default strategy picks up getClass() (I'll fix that).

You could look at these examples:
https:/

[2018-05-20 13:46] jpbelang commented on #351
Something was fixed in 3.0.2.  Look at the snapshot (I''m looking at my code right now and it couldn't be null:

[code]

[2018-05-21 08:12] QiangGuo-TradeDoubler opened #352 "Failed to generate Raml with jaxrs-to-raml"
Hi,

I got problem to generate Raml file from java resources using jaxrs-to-raml. But it failed with class not found exception. The “missing” class is actually in one of the dependencies defined in build.gradle. Appreciate any comments or suggestion.
Exception looks like this:
Caused by: java.lang.NoClassDefFoundError: ******(have to star the actual class name because it's containing client name)

[2018-05-22 09:14] youac commented on #351
Upon further testing, I realised that the problem was actually due to using a feature plugin to add lombok @builder annotation. Removing that fixed the issue, so it was never a problem from raml-for-jaxrs

[2018-05-22 09:14] #351 closed

[2018-05-22 15:12] #347 closed

[2018-05-23 01:41] silvafabio commented on #349
Hi.

Sorry for the late, attached is a little isolated sample  ;-)

That's true i didn't put any a annotations :-(

Thanks

[raml-sample.zip](https://github.com/mulesoft-labs/raml-for-jax-rs/files/2029177/raml-sample.zip)

[2018-05-24 04:59] kevinduffey commented on #294
Bit late.. but cant you write an overaly or extension raml to the raml you are not allowed to change.. so that you CAN modify it for your annotation use without affecting the base raml?

[2018-05-25 14:11] blubber88 opened #353 "wrong JsonFormat pattern for type datetime-only"
Hello all,

I've following issue regarding the "datetime-only" type when generating the pojo classes.

My raml file has following entry:
[code]

Which generates following java class part:
[code]

So it would serialize/deserialize following example:
`	"modificationTime": "2015-07-04T21:10:00.000+0200"`

In the[ RAML 1.0 specification](https://github.com/raml-org/raml-spec/blob/master/versions/raml-

[2018-06-04 12:51] JoergAdler commented on #331
We are still seeing this behavior wir 3.0.1 Another possible solution would be to add an "@JsonTypeId" to the implementing type.

[2018-06-04 15:06] alxgrk commented on #331
Sorry for not responding lately, I just tried it out again as well and obviously the problem still exists...

[2018-06-05 11:59] JoergAdler commented on #331
The reason of this behavior is handled in the following merge request. Would be nice, if you woulf consider to merge it.

https://github.com/mulesoft-labs/raml-java-tools/pull/13

[2018-06-05 17:09] jpbelang commented on #353
Looking into it.

[2018-06-10 14:04] jpbelang commented on #353
You are correct.  I changed it in raml-java-tools.

[2018-06-12 19:02] jstoiko commented on #352
@jpbelang: do you know what could be causing this?
@QiangGuo-TradeDoubler: can you share your project config: POM or .gradle file?

[2018-06-14 00:28] kevinduffey commented on #352
Not sure if this will help but a 3.0.2 was released this past weekend.. can you try using 3.0.2 and see if it solves the problem. Not a great answer, but just know it was released and maybe there was a fix for this.

[2018-06-14 23:56] jpbelang commented on #352
It's hard to say:  the example project seems to work, but it uses a local project.  My understanding of gradle tells me that the the jar in the project should be findable.  Are you sure the plugin sees the classes ?

[2018-06-23 19:51] #353 closed

[2018-06-23 19:52] jpbelang commented on #287
It's there.

[2018-06-23 19:52] #287 closed

[2018-06-23 19:55] #280 closed

[2018-06-30 12:59] deduper opened #354 "“Merging not supported for nodes of type NamedTypeExpressionNode and TypeDeclarationNode”"
I got some RAML that specifies some HTTP status codes in the responses like so (*the RAML here  is simplified from the original, but perfectly representative*)...

----

    #%RAML 1.0
    title: Schmitle.
    version: v0
    protocols: [HTTP]
    baseUri: http://api.deduper.com
    mediaType: application/json

    uses:
      deduper: libs/lib-deduper.raml

    /myResources/{someId}:
      uriPar

[2018-07-02 13:12] jpbelang commented on #354
This is a parser issue.  Let me check something, I'll get right back to you...

[2018-07-02 13:31] jpbelang commented on #354
Since I'm not getting the error, I also don't quite see what the problem is with your post responses.

[2018-07-02 16:44] #354 closed

[2018-07-08 09:24] deduper opened #355 "ramltopojo Rejects Perfectly Legal RAML Array Type Definitions"
_**Dev environment**_:
- [_raml-to-jaxrs-cli-3.0.3-20180623.232928-2-jar-with-dependencies.jar_](https://repository-master.mulesoft.org/nexus/content/repositories/snapshots/org/raml/jaxrs/raml-to-jaxrs-cli/3.0.3-SNAPSHOT/)
- _Windows 7 64 bit_
- _OpenJDK 64-Bit Server VM version 1.8.0_161-1-ojdkbuild_
- _Atom v 1.28.1 x64_

----

Running [_the attached RAML_](https://github.com/mulesoft-labs/raml-

[2018-07-08 20:29] jpbelang commented on #355
I'll be looking at it this week.  I need to finish the "additionalProperties" (should be done today).

Just so you know, the problem with this was not a change.  The parser does not behave the same way and it breaks some stuff.  However, the parser was updated, and it might work better.

I'll see if I can work out something otherwise.  The bug that's problematic is here:

https://github.com/raml-o

[2018-07-15 18:30] deduper opened #356 "raml-to-jaxrs Determines That Legal Version 1.0-complaint RAML Is Not Version 1.0 RAML"
At my work we have an API that's structured with a whole bunch of included types, traits, libraries and what-have-you,  defined in their own individual RAML files. These include (_no pun intended_) our own project-specific RAML files; plus a bunch more enterprise-mandated shared RAML files. All together there are about sixty RAML files for the one API; including the main base API RAML file...

[co

[2018-07-18 06:28] shale99 opened #357 "V10Finder enhancement to allow paths to be used as keys (/a/b/metadata.json) in the raml"
seems like it is not possible to define the following (causes problems when $ref'ed from other schemas):

[code]

adding something like
`new File(currentBuild.getSchemaRepository(), schemaType.name()).getParentFile().mkdirs();`
before the

[code]

in `setupConstruction()` may solve this.

The main motivation is to allow other tools to look at the json schema as a standalone file and be able to ret

[2018-07-22 12:52] jpbelang commented on #357
I'll look into this this week.  We've had trouble historically on getting the paths to work with $ref.  I think your suggestion could work, but I really want to make sure that I don't break anything.

Thanks.

[2018-07-22 13:02] jpbelang commented on #356
Just so I understand this:  the gradle plugin fails, but the same code succeeds with the cli ?  Does the maven plugin pass ?  (I'll try to build a small gradle example with an include to see if I can get it to fail.....)

[2018-07-25 19:11] deduper commented on #356
Thank you @jpbelang for looking into this.

And apologies for the delayed reply. Been snowed under at work. In fact, I only have a couple minutes to spare right now. So I'll just reply to a couple things for now, and get back to you with more details and questions.

Yup. That's correct. I'm afraid I only vaguely recall checking that the maven plugin works with the same RAML. But, I'm like 85% sure

[2018-07-25 21:44] jpbelang commented on #356
No worries.

I may have been unclear:  The API you used loads _APIs_.  It needs to be annotated at the top with a "#%RAML 1.0" annotation.  If it's annotated with a "#%RAML 1.0 Library" annotation, that call won't load them (hence the nulls, I suspect).  I'm not sure there is a way, from the RAML parser to load a naked library.

From a given API, the "uses:" directive loads these libraries (as lib

[2018-07-26 19:58] deduper commented on #356
Thanks again @jpbelang for getting back,

I have had a chance yet to try out your SNAPSHOT. I wanted to finish answering your earlier questions first.

That's the thing though. They're not all libraries. This is the breakdown of the 60 RAML files in our API...

`#%RAML 1.0 Library` - _**6**_
`#%RAML 1.0 Trait` - _**20**_
`#%RAML 1.0 DataType` - _**32**__
`#%RAML 1.0 SecurityScheme` - _**1**_
`#%RA

[2018-08-01 12:47] girishsharma-tradedoubler commented on #352
Problem is same with 3.0.2. If you want to generate raml in one module of the project and if the resource is dependent on java file of other module then it fails to generate the raml.

[2018-08-02 23:54] jpbelang commented on #355
I have a plan:  since the parser isn't helping at telling me whether a type is actually a new type, I'll have to add an annotation to notify raml-for-jaxrs that a type should be generated if it's inline.  This will be done in raml-java-tools.  This won't change the current behaviour for ObjectTypes (with properties) where I deduce that it's a new type that should be generated by checking if there